& {
  margin-top: 20px;
  margin-bottom: 2em;
  padding: 0 25px;
}

h6 {
  font-size: 14px;
  color: $sd-text;
  padding-bottom: 10px;
  margin: 0;
  padding: 0 0 10px;
}

.th {
  border-bottom: 1px solid $sd-text-light;
}

.heading {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  color: $sd-text-med;
}
