& {
  margin-top: 20px;
  padding: 10px 25px;

  background-color: $grey-200;

  .step-container {
    display: flex;
  }

  .setup-spinner {
    float: right;
    font-size: 14px;

    i {
      color: $sd-light-blue;
    }
  }

  li.nav-item {
    padding: 10px;
  }

  .tab-content {
    overflow: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .indent {
    margin-left: 15px;
  }

  .step-list {
    overflow-y: auto;
  }

  .step-toggle {
    cursor: pointer;
    text-decoration: none;
  }
}
