<h6>Steps</h6>
<div class='pure-g th'>
  <div class="pure-u-1-24">
  </div>
  <div class='pure-u-18-24'>
    <span class="heading">Step</span>
  </div>
  <div class='pure-u-1-6'>
    <span class="heading">Duration</span>
  </div>
  <div class="pure-u-1-24">
  </div>
</div>
{{#each steps as |step|}}
  {{build-step step=step build=build}}
{{/each}}

{{yield}}
