<div class='row th'>
  <div class="col-xs-1">
    <span class="heading">Status</span>
  </div>
  <div class='col-xs-8'>
    <span class="heading">Step</span>
  </div>
  <div class='col-xs-2'>
    <span class="heading">Duration</span>
  </div>
  <div class="col-xs-1">
  </div>
</div>

{{yield}}