@use 'screwdriver-colors' as colors;

@mixin styles {
  #change-visibility-modal {
    #change-visibility-message {
      .change-visibility-message-warning {
        color: colors.$sd-warn-bg;
      }
    }
  }
}
