& {
  padding: 0 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
}

.no-conditionals {
    grid-template-columns: repeat(6, 1fr) 2fr;
}

.one-conditional {
    grid-template-columns: repeat(7, 1fr) 2fr;
}

.two-conditionals {
    grid-template-columns: repeat(8, 1fr) 2fr;
}

li {
  border-left: 1px solid $sd-text-med;
  padding: 5px 10px;
  min-width: 120px;
  vertical-align: top;

  span {
    display: block;
  }
}

.call-to-action {
  border-left-width: 0;
  text-align: right;
}

.banner-label {
  text-transform: uppercase;
  color: $sd-text-med;
  font-weight: $weight-normal;
  font-size: 10px;
}

.job-name {
  border-left-width: 3px;

  .banner-value {
    font-weight: $weight-bold;
  }
}

.pr-img {
  width: 20px;
  height: 20px;
}

.pr-link {
  display: inline;
  position: absolute;
  bottom: 2.2px;
}

.pr-url-holder {
  height: 20px;
}

.pr-url{
  position: relative;
}

//sass-lint:disable class-name-format
&.RUNNING,
&.QUEUED {
  .job-name
  .job-name {
    border-left-color: $sd-running;

    .banner-value {
      color: $sd-running;
    }
  }
}

&.SUCCESS {
  .job-name {
    border-left-color: $sd-success;

    .banner-value {
      color: $sd-success;
    }
  }
}

&.ABORTED,
&.FAILURE {
  .job-name,
  .job-name {
    border-left-color: $sd-failure;

    .banner-value {
      color: $sd-failure;
    }
  }
}
//sass-lint:enable class-name-format
