& {
  margin: 10px 25px 0;
  border-radius: 3px;
  background-color: $ycolor-blue-10a;
  color: #fff;
  padding: 10px 25px;

  &.SUCCESS {
    background-color: $ycolor-green-6b;
  }
  &.FAILURE {
    background-color: $ycolor-red-2b;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
li {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}
li:last-child {
  text-align: right;
}

h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.line1 {
  margin-bottom: 5px;

  span {
    font-size: 2em;
  }
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
