& {
  padding: 0 25px;
}

summary {
  display: list-item;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr) 2fr;
}

.button-right {
  grid-column: 9;
}

li .subsection {
  border-left: none;
  font-weight: $weight-normal;
  font-size: 12px;
}

li {
  border-left: 1px solid $sd-text-med;
  padding: 5px 10px;
  min-width: 120px;
  vertical-align: top;

  span {
    display: block;
  }
}

.call-to-action {
  border-left-width: 0;
  text-align: right;
}

.banner-label {
  text-transform: uppercase;
  color: $sd-text-med;
  font-weight: $weight-normal;
  font-size: 10px;
}

.job-name {
  border-left-width: 3px;
  word-wrap: break-word;

  .banner-value {
    font-weight: $weight-bold;
  }
}

.pr-img {
  width: 20px;
  height: 20px;
}

.pr-link {
  display: inline;
  bottom: 2.2px;
}

.pr-url-holder {
  height: 100px;
}

.pr-url {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
}

.open .dropdown-menu,
.commit-list,
.caret-display,
.dropdown {
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  left: -70px;
  min-width: 60px;
  max-height: 150px;
  overflow: auto;
}

.pr-item {
  padding: 5px 0px;
}

.pr-item a:hover {
  background-color: #d1edff;
}

//sass-lint:disable class-name-format
&.RUNNING,
&.QUEUED,
&.BLOCKED {
  .job-name,
  .job-name,
  .job-name {
    border-left-color: $sd-running;

    .banner-value {
      color: $sd-running;
    }
  }
}

&.SUCCESS {
  .job-name {
    border-left-color: $sd-success;

    .banner-value {
      color: $sd-success;
    }
  }
}

&.UNSTABLE {
  .job-name {
    border-left-color: $sd-unstable;

    .banner-value {
      color: $sd-unstable;
    }
  }
}

&.ABORTED,
&.FAILURE {
  .job-name,
  .job-name {
    border-left-color: $sd-failure;

    .banner-value {
      color: $sd-failure;
    }
  }
}
//sass-lint:enable class-name-format
