& {
  margin: 10px 25px 0;

  .prevnext {
    font-size: 14px;
    margin-bottom: 3px;
    color: $sd-link;

    .pure-u-1-2:first-child {
      text-align: left;
    }

    .pure-u-1-2:last-child {
      text-align: right;
    }

    a {
      color: $sd-link;
    }
  }

  .headerbar {
    border-radius: 3px;
    @include backgroundGradient(to right, $sd-running-gradient-start, $sd-running-gradient-end);
    color: #fff;
    padding: 6px 6px 6px 20px;
    margin-bottom: 5px;

    .sha {
      font-weight: 300;
      font-size: 20px;
    }

    .pure-u-1-3:nth-child(2) {
      text-align: center;
    }

    .pure-u-1-3:last-child {
      text-align: right;
    }

    h1 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 600;
    }
  }

  &.SUCCESS .line1 {
    @include backgroundGradient(to right, $sd-success-gradient-start, $sd-success-gradient-end);
  }
  &.ABORTED .line1,
  &.FAILURE .line1 {
    @include backgroundGradient(to right, $sd-failure-gradient-start, $sd-failure-gradient-end);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  li {
    vertical-align: middle;
    display: inline-block;
    width: 33%;
    font-size: 16px;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
      width: 34%;
    }
  }

  a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  button {
    font-size: 14px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px;
    width: 100px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .commit {
    margin-bottom: 5px;
    font-size: 14px;
    color: $sd-text-med;

    a {
      color: $sd-link;
    }
  }

  .event {
    color: $sd-text-med;
    line-height: 20px;
    vertical-align: middle;

    .pure-u-1-3 {
      font-size: 14px;

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        font-style: italic;
        text-align: right;
      }
    }
  }
}
