& {
  padding: 12px 24px;
  cursor: pointer;

  font-family: Helvetica, Arial, sans-serif;

  &.highlighted {
    background-color: black;
    color: white;

    .last-successful {
      color: darkblue;
      background-color: var(--blue-100, #020f1c);
    }
  }

  .event-card-first-row {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    .event-status {
    }

    .sha {
    }

    .branch {
      .branch-name {
      }
    }

    .last-successful {
      border-radius: 6px;
      padding: 0 8px;
      background: var(--blue-100, #e1effe);
    }
  }

  .label {
  }

  .message {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    grid-column: 1 / -1;
  }

  .time {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }

  .by {
  }

  .parameters-section {
  }
}
