.fa {
  color: $ycolor-blue-10b;
  font-size: 14px;
}

&.SUCCESS {
  .fa {
    color: $ycolor-green-6b;
  }
}

&.FAILURE {
  .fa {
    color: $ycolor-red-2b;
  }
}

a {
  text-decoration: none;
  color: $ycolor-gray-b;
  font-size: 14px;
}

a span {
  margin-left: 10px;
}
