.fa {
  color: $sd-running;
  font-size: 14px;
}

&.SUCCESS {
  .fa {
    color: $sd-success;
  }
}

&.UNSTABLE {
  .fa {
    color: $sd-unstable;
  }
}

&.FAILURE {
  .fa {
    color: $sd-failure;
  }
}

a {
  text-decoration: none;
  color: $sd-text;
  font-size: 14px;
}

span {
  margin-left: 10px;
}
