& {
  i.fa {
    font-size: 1.1rem;
  }

  &.disabled {
    display: none;
  }

  &.error {
    i.fa {
      color: $sd-failure;
    }
  }

  &.warning {
    i.fa {
      color: $sd-warning;
    }
  }

  &.info {
    i.fa {
      color: $sd-running;
    }
  }
}
