& {
  table + .row {
    margin-bottom: 1rem;
  }

  .table-summary + .table-nav.col-6 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }

  .table-summary label.input-group-text {
    background-color: unset;
    border: unset;
  }

  .table-summary label.input-group-text + button {
    display: none;
  }

  .btn-group {
    float: right;
  }

  .btn-group.pull-right .btn-secondary,
  .btn-group.pull-right .btn-secondary:not(:disabled):not(.disabled).active,
  .btn-group.pull-right .btn-secondary:not(:disabled):not(.disabled):active {
    color: #232a31;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
  }

  .btn-group.pull-right .btn-secondary:not(:disabled):hover {
    text-decoration: underline;
  }

  .btn-group.pull-right .btn-secondary:focus,
  .btn-secondary:not(:disabled):not(.disabled):focus,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled):active:focus,
  .btn-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
  }

  .btn-secondary:not(:disabled):not(.disabled).active {
    font-weight: 700;
    text-decoration: underline;
  }
}

.status-dropdown {
  width: 100%;
  height: 35px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  // padding: .5rem 2rem;
}

.status-dropdown,
.status-dropdown:hover,
.status-dropdown:focus,
.status-dropdown:active,
.status-dropdown.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #f7f7f7;
  border-color: #e5e5e5;
  color: #232a31;
}

.status-dropdown:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.status-dropdown span + svg {
  float: right;
  margin-left: 10px;
}

.status-dropdown svg.fa-check-circle,
.status-item svg.fa-check-circle {
  color: #03af7a;
}

.status-dropdown svg.fa-times-circle,
.status-item svg.fa-times-circle {
  color: #ff4b00;
}

.status-dropdown-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.status-item {
  padding: 5px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.status-item span {
  padding: 5px;
}

.status-item:hover {
  cursor: pointer;
  background-color: #e9ecef;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.show {
  width: 98%;
  min-width: initial;
}

input.job-name {
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  font-size: 14px;
  text-indent: 5px;
}

input.job-name::placeholder {
  font-style: normal;
  font-weight: 400;
}

form.pull-left label {
  border: none;
  background: none;
}

form.pull-left label + select {
  background-color: #f7f7f7;
  border-color: #e5e5e5;
  color: #232a31;
  border-radius: 0.25rem !important;
}

form.pull-left label,
form.pull-left label + select {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
