@mixin styles {
  .status-cell {
    display: flex;
    justify-content: center;

    .build-status-container {
      a,
      .created {
        display: flex;
        align-items: center;
      }

      .tooltip {
        p {
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}
