& {
  a {
    cursor: pointer;
  }

  .flyout {
    padding: 20px;
    background-color: $sd-flyout-bg;
    color: $sd-text;
  }

  .collection {
    display: inline;
  }

  .collection-wrapper__delete {
    display: inline;
    float: right;
  }
  .collection-wrapper {
    border-bottom: 1px solid $sd-white;
    position: relative;

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }

    &:hover {
      background-color: $sd-flyout-hover;

      .name {
        text-decoration: underline;
      }
    }

    &:hover .collection-wrapper__delete {
      display: inline-block;
    }

    &.row {
      a {
        display: block;
        padding: 10px 15px;
      }
    }

    &.row--active {
      background-color: $sd-flyout-hover;

      a {
        &::before {
          background-color: $sd-active-hl;
          content: '';
          height: 100%;
          position: absolute;
          left: -5px;
          top: 0;
          width: 5px;
        }
      }
    }

    // sass-lint:disable class-name-format
    &__delete {
      position: absolute;
      right: 10px;
      top: 10px;
      border: none;
      background: none;
      display: none;
    }
    // sass-lint:enable class-name-format
  }

  .no-collections-text {
    padding: 15px;
  }

  // sass-lint:disable class-name-format
  .header {
    &__text {
      font-size: 1.3em;
      margin-top: 22px;
      padding: 0 2px 0;
    }

    &__create {
      font-size: 0.9em;
      text-decoration: none;
      margin-top: 25px;
      text-align: end;
    }
  }
  // sass-lint:enable class-name-format
}

@media (min-width: 1330px) {
  .flyout {
    .header__text {
      font-size: 1.5em;
      margin-top: 20;
      padding: 0 20px 0;
    }
  }
}

// match with bootstrap min-width: for .col-md-2
@media (min-width: 992px) {
  .flyout {
    min-height: calc(100vh - 56px);
  }
}
