$animate: 300ms;
$animate-delay: 250ms;
$animate-done: 600ms;
$weight-normal: 400;
$weight-bold: 600;

@mixin transition($prop, $duration, $delay: 0ms, $easing: ease) {
  -webkit-transition: $prop $duration $delay $easing;
  -moz-transition: $prop $duration $delay $easing;
  -ms-transition: $prop $duration $delay $easing;
  -o-transition: $prop $duration $delay $easing;
  transition: $prop $duration $delay $easing;
}

@mixin background-gradient($dir, $start, $end) {
  background: -webkit-linear-gradient($dir, $start, $end);
  background: -o-linear-gradient($dir, $start, $end);
  background: -moz-linear-gradient($dir, $start, $end);
  background: linear-gradient($dir, $start, $end);
}

@mixin scale($amt) {
  -webkit-transform: scale($amt);
  -moz-transform: scale($amt);
  -ms-transform: scale($amt);
  -o-transform: scale($amt);
  transform: scale($amt);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin reset_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}

@mixin reset_input {
  -webkit-appearance: none;
  margin: 0;
  border-radius: 0;
  border: none;
  padding: 0;
  height: auto;
  box-shadow: none;
}

@import 'font-awesome';
@import 'denali-button';
@import 'denali-colors';
@import 'screwdriver-colors';
@import 'screwdriver-modal-styles';
@import 'pod-styles';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import 'ember-bootstrap/bootstrap';
@import 'app/styles/chart';

.container {
  box-sizing: border-box;
  overflow: hidden;
}

.SUCCESS {
  .status .fa {
    color: $sd-success;
  }
}

.UNSTABLE {
  .status .fa {
    color: $sd-unstable;
  }
}

.FAILURE,
.ABORTED {
  .status .fa {
    color: $sd-failure;
  }
}

.RUNNING,
.QUEUED,
.BLOCKED,
.CREATED,
// TODO: Replace skipped property if necessary.
.SKIPPED {
  .status .fa {
    color: $sd-running;
  }
}

.COLLAPSED,
.FROZEN {
  .status .fa {
    color: $sd-text-light;
  }
}

.no-padding {
  padding: 0 !important;
}

.separator {
  border-right: 1px solid $grey-500;
}

a {
  cursor: pointer;
}

.partial-view {
  height: 78vh;
  display: flex;
  flex-direction: column;
}

.column-tabs-view {
  overflow: auto;

  .nav-tabs {
    position: sticky;
    top: 0;
    background: $sd-white;
    z-index: 1;

    & > li {
      width: 50%;
      float: none;
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      border-bottom: 2px solid $grey-400;

      &.float-left {
        float: left;
      }

      & > a {
        &,
        &:hover {
          border: none !important;
          margin: 0 !important;
          background: none !important;
        }
      }

      &.active,
      &:hover {
        border-bottom: 2px solid $brand-600;
      }
    }
  }
}

$grid-float-breakpoint: 880px;

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: $weight-normal;
}

@import 'ember-power-select';
