@use 'variables';
@use 'bootstrap-modal' as bootstrapModal;
@use 'components/styles' as components;
@use 'v2/pipeline/styles' as pipeline;

$animate: 300ms;
$animate-delay: 250ms;
$animate-done: 600ms;
$weight-normal: variables.$weight-normal;
$weight-bold: variables.$weight-bold;

$app-header-height: variables.$app-header-height;
$banners-height: variables.$banners-height;

$pipeline-header-height-min: 76px;
$pipeline-header-height-max: 134px;

@mixin transition($prop, $duration, $delay: 0ms, $easing: ease) {
  -webkit-transition: $prop $duration $delay $easing;
  -moz-transition: $prop $duration $delay $easing;
  -ms-transition: $prop $duration $delay $easing;
  -o-transition: $prop $duration $delay $easing;
  transition: $prop $duration $delay $easing;
}

@mixin background-gradient($dir, $start, $end) {
  background: -webkit-linear-gradient($dir, $start, $end);
  background: -o-linear-gradient($dir, $start, $end);
  background: -moz-linear-gradient($dir, $start, $end);
  background: linear-gradient($dir, $start, $end);
}

@mixin scale($amt) {
  -webkit-transform: scale($amt);
  -moz-transform: scale($amt);
  -ms-transform: scale($amt);
  -o-transform: scale($amt);
  transform: scale($amt);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin reset_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}

@mixin reset_input {
  -webkit-appearance: none;
  margin: 0;
  border-radius: 0;
  border: none;
  padding: 0;
  height: auto;
  box-shadow: none;
}

@import 'denali-button';
@import 'denali-colors';
@import 'screwdriver-colors';
@import 'screwdriver-modal-styles';
@import 'pod-styles';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import 'ember-bootstrap/bootstrap';
@import 'app/styles/chart';
@import 'app/styles/user-settings';
@import 'app/styles/create';
@import 'app/styles/commands-templates';

.container {
  box-sizing: border-box;
  overflow: hidden;
}
.padded-container {
  padding-left: 15px;
  padding-right: 15px;
}

.SUCCESS {
  .status svg {
    color: $sd-success;
  }
}

.WARNING,
.UNSTABLE {
  .status svg {
    color: $sd-unstable;
  }
}

.FAILURE,
.ABORTED {
  .status svg {
    color: $sd-failure;
  }
}

.RUNNING,
.QUEUED,
.BLOCKED,
.CREATED,
// TODO: Replace skipped property if necessary.
.SKIPPED {
  .status svg {
    color: $sd-running;
  }
}

.COLLAPSED,
.FROZEN {
  .status svg {
    color: $sd-text-light;
  }
}

.no-padding {
  padding: 0 !important;
}

.separator {
  border-right: 1px solid $grey-500;
}

a {
  cursor: pointer;
}

.partial-view {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.latest-commit {
  display: inline-block;
  background-color: $sd-running;
  color: $sd-white !important;
  border-radius: 3px;
  padding: 3px 5px;
}

.column-tabs-view {
  overflow: auto;

  .nav-tabs {
    position: sticky;
    top: 0;
    background: $sd-white;
    z-index: 1;

    & > li {
      width: 50%;
      float: none;
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      border-bottom: 2px solid $grey-400;

      &.float-left {
        float: left;
      }

      & > a {
        &,
        &:hover {
          border: none !important;
          margin: 0 !important;
          background: none !important;
        }
      }

      &.active,
      &:hover {
        border-bottom: 2px solid $brand-600;
      }
    }
  }
}

$grid-float-breakpoint: 880px;

html {
  font-size: variables.$font-size;

  body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: variables.$weight-normal;

    @include bootstrapModal.styles;
    @include components.styles;
    @include pipeline.styles;
  }
}

$ember-power-select-border-color: #64a5ed;
$ember-power-select-border-radius: 0;

@import 'ember-power-select';
