.range-selection {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;

  button {
    background: #eff4ff;
    padding: 5px 10px;
    line-height: 1em;
    border: none;
    border-radius: 3px;
    color: #56a7f5;

    &:hover, &:focus {
      background: white;
      z-index: 0 !important;
    }

    &.active:hover, &.active:focus, &.active {
      background: white;
      border-radius: 3px !important;
      border: none;
      outline: none;
      box-shadow: 0 0 0 2px #3570f4;
      z-index: 2 !important
    }
  }
}

.datetime-selection {
  display: inline-block;
  font-weight: bold;

  input {
    @include reset_input;
    background: #eff4ff;
    font-weight: normal;
  }
}

.chart-c3 {
    margin-bottom: 15px;
    padding: 15px 15px 10px;
    background: #f8f8f8;
    border: 1px solid #dadada;
    border-radius: 5px;
    position: relative;

    svg {
      font-size: 0.8em;
    }

    .x-toggle-component {
      justify-content: flex-end;
      line-height: 1;
      margin-top: -1em;
      float: right;
      cursor: pointer;

      .toggle-text {
        font-weight: normal;
        font-size: 0.85em;
      }
    }

    .c3-event-rect {
      cursor: ew-resize;
    }

    .c3-event-rects .selection.hide {
      pointer-events: none !important;
      visibility: hidden !important;
    }

    .reset-button {
      position: absolute;
      cursor: pointer;
      padding: 1em;
      line-height: 1em;
      font-size: 1em;
      right: 0;
      bottom: 0;
      margin: 0;
      color: #9A9A9A;
      display: none;

      &:hover {
        color: #0A0A0A;

        .fa {
          @include scale(1.5);
        }
      }
    }

    &:hover .reset-button {
      display: block;
    }
}

.chart-title {
    margin: 0;
    font-weight: bolder;
}

.chart-pipeline-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0;

  .title {
    text-transform: uppercase;
    color: $grey-600;
    font-size: 12px;
  }

  .passed {
    color: #16c045;
  }

  .failed {
    color: #ea0000;
  }

  .col {
    flex: 1 0 calc(100% / 5);
    padding-left: 10px;
    border-left: 1px solid $grey-500;

    a {
      line-height: inherit;
    }
  }
}

.y-axis-label {
  line-height: 0.8em;
  margin-bottom: -1.6em;
  font-size: 0.8em;
  margin-top: 10px;
  color: #9A9A9A;
}

.c3-axis-y {
    .domain, .tick line {
        stroke: none;
    }
}

.c3-axis-x {
    .domain, .tick line {
        stroke: #ddd;
    }
}

.c3-axis-x-label {
  fill: #9A9A9A;
}

.c3-grid line {
    stroke-dasharray: none;
    stroke: #ddd;
}

.c3-line {
  stroke-width: 3px;
}

.c3-tooltip-container {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px #999;
  padding: 10px;

  .status {
    font-size: 0.85em;
  }

  .detail {
    display: flex;
    white-space: nowrap;
    font-size: 0.8em;

    p {
      margin: 5px 0 0;
    }
  }

  .key {
    color: #a9a9a9;
    margin-right: 10px;

    span {
      border-width: 0.5em;
      border-style: solid;
      width: 0;
      height: 0;
      line-height: 0;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5em;
    }
  }
}
