.chart-cta {
  padding: 70px 0;
  font-weight: bold;
  text-align: center;
}

.job-selector {
  position: relative;
  display: inline-block;

  .control-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    @include transform(translateY(-50%));
  }

  select {
    @include reset_select;
    @include reset_input;
    font-weight: normal;
    display: inline;
    background: #eff4ff;
    border-radius: 3px;
    padding: 5px 30px 5px 10px;
    min-width: 150px;
    outline: none;
  }

  &:focus,
  &:hover {
    color: #3697f2;

    .control-icon {
      color: #3697f2;
    }
  }
}

.chart-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .title {
    margin-right: 5px;
  }
}

.chart-control {
  font-weight: bold;
  margin-right: 10px;
}

.range-selection {
  margin-right: 10px;

  button:not(:disabled):not(.disabled) {
    background: #eff4ff;
    padding: 5px 10px;
    line-height: 1;
    border: none;
    border-radius: 3px;
    color: #56a7f5;

    &:hover,
    &:focus {
      background: white;
      z-index: 0 !important;
    }

    &.active:hover,
    &.active:focus,
    &.active {
      color: black;
      background: white;
      border-radius: 3px !important;
      border: none;
      outline: none;
      box-shadow: 0 0 0 2px #3570f4;
      z-index: 2 !important;
    }
  }
}

.custom-date-selection {
  input {
    @include reset_input;
    border-radius: 3px;
    color: #56a7f5;
    width: 30ch;
    letter-spacing: 1px;
    background: #eff4ff;
    font-weight: normal;
    line-height: 1;
    padding: 5px 10px;
    text-align: center;

    &:invalid {
      color: red;
    }
  }
}

.filters-selection {
  padding-left: 7px;
  margin-left: auto;
  display: flex;
  cursor: pointer;
}

.success-only {
  margin-left: 7px;
}

.toggle-trend {
  display: flex;
  cursor: pointer;
  float: right;
}

.trendline-view {
  font-weight: normal;
  font-size: 0.85em;
  margin-top: -1em;
}

.chart-c3,
.chart-cta {
  margin-bottom: 15px;
  background: #f8f8f8;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.chart-c3 {
  padding: 15px 15px 10px;
  position: relative;

  .cursor-line {
    visibility: hidden;
  }

  svg {
    font-size: 0.8em;
    overflow: visible !important;

    &:hover {
      .cursor-line {
        visibility: visible;
      }
    }
  }

  .x-toggle-component {
    justify-content: flex-end;
    line-height: 1;
    margin-top: -1em;
    float: right;
    cursor: pointer;

    .toggle-text {
      font-weight: normal;
      font-size: 0.85em;
    }
  }

  .c3-event-rect {
    cursor: crosshair;

    &.data {
      cursor: pointer;
    }
  }

  .c3-event-rects .selection.hide {
    pointer-events: none !important;
    visibility: hidden !important;
  }

  .reset-button {
    position: absolute;
    cursor: pointer;
    padding: 1em;
    line-height: 1em;
    font-size: 1em;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #9a9a9a;
    display: none;

    &:hover {
      color: #0a0a0a;

      svg {
        @include scale(1.5);
      }
    }
  }

  &:hover .reset-button {
    display: block;
  }
}

.chart-title {
  margin: 0;
  font-weight: bolder;
}

.chart-pipeline-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 15px 0;

  .title {
    text-transform: uppercase;
    color: $grey-600;
    font-size: 12px;
  }

  .passed {
    color: $sd-success;
  }

  .failed {
    color: $sd-failure;
  }

  .col {
    flex: 1 0 calc(100% / 5);
    padding-left: 10px;
    border-left: 1px solid $grey-500;

    a {
      line-height: inherit;
    }
  }
}

.chart-legend {
  font-size: 0.8em;
  margin: 1em 0 0;
  line-height: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  a {
    display: none;
  }

  li {
    padding: 5px;
    background: #efefef;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;

    &:before {
      content: '';
      border-style: solid;
      border-width: 4px;
      border-color: inherit;
      width: 0;
      height: 0;
      line-height: 1;
      display: inline-block;
      margin-right: 4px;
      border-radius: 4px;
    }

    &:hover {
      box-shadow: 1px 1px 3px -1px #aaa;

      a {
        display: inline;
      }
    }
  }

  .unselected {
    opacity: 0.3;
  }
}

.y-axis-label {
  line-height: 0.8em;
  margin-bottom: -1em;
  font-size: 0.8em;
  margin-top: 10px;
  color: #9a9a9a;
  clear: both;
}

.c3-axis-y,
.c3-axis-y2 {
  .domain,
  .tick line {
    stroke: none;
  }
}

.c3-axis-x {
  .domain,
  .tick line {
    stroke: #ddd;
  }
}

.c3-axis-x-label {
  fill: #9a9a9a;
}

.c3-grid line {
  stroke-dasharray: none;
  stroke: #ddd;
}

.c3-line {
  stroke-width: 3px;
}

.c3-tooltip-container {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px #999;
  padding: 10px;
  bottom: 0;

  &.locked {
    pointer-events: visible !important;

    .lock {
      display: block;
    }
  }

  &:hover {
    .clipboard {
      display: block;
    }
  }

  .lock {
    display: none;
    color: #444 !important;
    position: absolute;
    top: -5px;
    left: -3px;
    @include transform(rotate(-45deg) scale(1.3));
  }

  .clipboard {
    display: none;
    float: right;
    color: #444 !important;
    cursor: pointer;
  }

  .status {
    font-size: 0.85em;
  }

  .detail {
    display: flex;
    white-space: nowrap;
    font-size: 0.8em;

    p {
      margin: 5px 0 0;
    }
  }

  .key {
    color: #a9a9a9;
    margin-right: 10px;

    .legend:before {
      content: '';
      border-style: solid;
      border-width: 4px;
      border-color: inherit;
      width: 0;
      height: 0;
      line-height: 1;
      display: inline-block;
      margin-right: 4px;
      border-radius: 4px;
    }
  }
}
