& {
  cursor: pointer;
  padding: 10px 15px 0;

  &.highlighted {
    background-color: $brand-100;
  }

  &:hover {
    background-color: $brand-200;
  }
}

.last-successful {
  background-color: $sd-success;
  color: $sd-white;
  border-radius: 3px;
  padding: 3px 5px;
}

a {
  color: $brand-600;
}

.view {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey-400;

  .view {
    padding-bottom: 3px;
  }
}

.status {
  font-size: 2rem;
  padding-right: 5px;
  color: $sd-no-build;
}

.detail {
  font-size: 1.35rem;
  line-height: 1.5;
  flex-grow: 1;
}

.name {
  font-size: 1.35rem;
  padding-right: 10px;
  position: relative;
  color: $grey-800;
}

.scm {
  position: absolute;
  top: 0;
  right: 0;
}

.date,
.by {
  font-size: 1.2rem;
}

.greyOut {
  color: $grey-600;
}

.by {
  color: $grey-700;
}

.workflow {
  margin-top: 5px;
}
