
$brand-800: #3448F7;
$brand-700: #3570F4;
$brand-600: #3697F2;
$brand-500: #8AC5ED;
$brand-400: #5D8CF6;
$brand-300: #9AB7F9;
$brand-200: #D7E2FD;
$brand-100: #F5F8FE;
$button-background: rgba(53, 112, 244, .12);

$grey-800: #303030;
$grey-700: #606060;
$grey-600: #9A9A9A;
$grey-500: #D5D5D5;
$grey-400: #E8E8E8;
$grey-300: #F2F2F2;
$grey-200: #F8F8F8;
$grey-100: #FFF;

$status-danger: #EA0000;
$status-warning: #F4CB00;
$status-success: #15C046;
$status-info: #0066DF;

$blue-900: #003E60;
$blue-800: #004B80;
$blue-700: #0058A0;
$blue-600: #0065BF;
$blue-500: #0072DF;
$blue-400: #308EE7;
$blue-300: #60ABEF;
$blue-200: #90C7F7;
$blue-100: #BEE0FC;

$box-shadow: rgba(0, 0, 0, .1);
