@charset "utf-8";

.d-button {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 #d5d5d5 inset;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 0px;
  letter-spacing: 0.2px;
  margin: 5px;
  height: 36px;
  min-width: 120px;
  outline: 0;
  padding: 10px 16px;
  text-align: center;
  text-shadow: none;
  text-transform: none;
  transition: all 0.2s ease;
  vertical-align: baseline;

  .d-icon {
    vertical-align: middle;
  }
}

a.d-button {
  padding: 18px 16px;
}

.d-button.has-icon {
  min-width: 0px;
}
a.d-button.has-icon {
  padding: 10px 16px;
}

//PRIMARY

.d-button.is-primary {
  background: linear-gradient(to right, #3697f2, #3570f4);
  color: #fff;
}

.d-button.is-primary:hover,
.d-button.is-primary.is-active,
.d-button.is-primary.is-active:hover {
  background: linear-gradient(to right, #3570f4, #3448f7);
}

//SECONDARY

.d-button.is-secondary {
  background: transparent;
  box-shadow: 0 0 0 1px #3697f2 inset;
  color: #3697f2;
}
.d-button.is-secondary:hover,
.d-button.is-secondary.is-active,
.d-button.is-secondary.is-active:hover {
  background: rgba(53, 112, 244, 0.2);
}

//DANGER

.d-button.is-danger {
  background: #ff4b00;
  color: #fff;
}
.d-button.is-danger:hover,
.d-button.is-danger.is-active,
.d-button.is-danger.is-active:hover {
  background: #bb0000;
}

// Disabled

.d-button.is-disabled,
.d-button[disabled],
.d-button.is-disabled:hover,
.d-button:hover[disabled],
.start-button[disabled] {
  background: rgba(48, 48, 48, 0.1);
  box-shadow: none;
  color: rgba(48, 48, 48, 0.2);
  cursor: not-allowed;
}

// SIZES

.d-button.is-medium {
  font-size: 14px;
  padding: 8px 28px;
  height: 32px;
}
a.d-button.is-medium {
  padding: 15px 28px;
}

.d-button.is-small {
  font-size: 12px;
  min-width: 90px;
  padding: 4px 14px;
  height: 24px;
}
a.d-button.is-small {
  padding: 12px 14px;
}
