$brand-800: #3448f7;
$brand-700: #3570f4;
$brand-600: #3697f2;
$brand-500: #8ac5ed;
$brand-400: #5d8cf6;
$brand-300: #9ab7f9;
$brand-200: #d7e2fd;
$brand-100: #f5f8fe;
$button-background: rgba(53, 112, 244, 0.12);

$grey-800: #303030;
$grey-700: #606060;
$grey-600: #9a9a9a;
$grey-500: #d5d5d5;
$grey-400: #e8e8e8;
$grey-300: #f2f2f2;
$grey-200: #f8f8f8;
$grey-100: #fff;

$status-danger: #ea0000;
$status-warning: #f4cb00;
$status-success: #15c046;
$status-info: #0066df;

$blue-900: #003e60;
$blue-800: #004b80;
$blue-700: #0058a0;
$blue-600: #0065bf;
$blue-500: #0072df;
$blue-400: #308ee7;
$blue-300: #60abef;
$blue-200: #90c7f7;
$blue-100: #bee0fc;

$box-shadow: rgba(0, 0, 0, 0.1);
