/**
 * FUJI
 * Color Definitions
 */

/*
YDesign has organized color by property into primary, tone1, tone2, sub1, sub2.
But many of those colors are shared, so we abstract them out here.

These colors comprise all the colors in the Yahoo Color Wheel, and are the
only color values allowed at Yahoo.

The color names are meaningful. The color names, such as "salmon", are imprecise
but provide some indication of what sort of color you're dealing with. The
alphanumeric suffix (e.g., "5c") indicates where on the wheel the color falls.
For instance, 1a is the innermost color (a) of the first slice (1) starting at
the noon position, if you think of the wheel as a clockface.

The grayscale colors also start at darkest and increment to lightest.

The neutral colors, visualized as a ring around the yahoo purple ring, are
self-explanatory.
*/

/* grayscale, from darkest to lightest */
$ycolor-gray-a: #262626;
$ycolor-gray-b: #37373a;
$ycolor-gray-c: #4b4b4e;
$ycolor-gray-d: #737376;
$ycolor-gray-e: #828285;
$ycolor-gray-f: #a8a8ac;
$ycolor-gray-g: #cfcfd1;
$ycolor-gray-h: #e2e2e6;
$ycolor-gray-i: #f1f1f5;
$ycolor-gray-j: #fbfbff;

/* colors,starting at noon position and moving clockwise in 1/18 slices */
$ycolor-pink-1a: #f80e5d;
$ycolor-pink-1b: #e6004e;
$ycolor-pink-1c: #c60646;

$ycolor-red-2a: #f0162f;
$ycolor-red-2b: #dc142d;

$ycolor-salmon-3a: #ff4d52;
$ycolor-salmon-3b: #ff333a;

$ycolor-orange-4a: #ff8b12;
$ycolor-orange-4b: #ff7b12;
$ycolor-orange-4c: #ff520d;

$ycolor-yellow-5a: #ffd333;
$ycolor-yellow-5b: #ffc700;
$ycolor-yellow-5c: #ffb700;

$ycolor-green-6a: #11d360;
$ycolor-green-6b: #1ac567;

$ycolor-bluegreen-7a: #00cd7a;
$ycolor-bluegreen-7b: #00c073;

$ycolor-turquoise-8a: #30d3b6;
$ycolor-turquoise-8b: #00c1a5;

$ycolor-teal-9a: #00a098;
$ycolor-teal-9b: #008f88;

$ycolor-blue-10a: #0078ff;
$ycolor-blue-10b: #0f69ff;

$ycolor-blue-11a: #145aff;
$ycolor-blue-11b: #144aff;

$ycolor-blueviolet-12a: #003abc;

$ycolor-indigo-13a: #0034a3;
$ycolor-indigo-13b: #001a5a;

$ycolor-purple-14a: #7300ff;
$ycolor-purple-14b: #5a00c8;
$ycolor-purple-14c: #400090;
$ycolor-purple-master: $ycolor-purple-14c; /* synonym */

$ycolor-deeppurple-15a: #2e0066;

$ycolor-deeppurple-16a: #2a004e;

$ycolor-magenta-17a: #be0067;
$ycolor-magenta-17b: #940050;
$ycolor-magenta-17c: #800045;

$ycolor-fuchsia-18a: #cc008c;
$ycolor-fuchsia-18b: #b3007b;

/* neutrals */
$ycolor-neutral-red: #ff8189;
$ycolor-neutral-yellow: #f3ea9b;
$ycolor-neutral-gray: #d3ccbd;
$ycolor-neutral-blue: #00abf0;
$ycolor-neutral-purple: #8762f9;

/*
Property swatch cards,
reflecting how colors are organized/defined/labeled in YDesign's styleguide.
*/

$color-default-primary: $ycolor-blue-10b;
$color-default-tone-1: $ycolor-blue-11b;
$color-default-tone-2: $ycolor-blue-11a;
$color-default-sub-1: $ycolor-blue-11b;
$color-default-sub-2: $ycolor-blue-11a;

$color-default-system-error: $ycolor-salmon-3a;
$color-default-system-affirm: $ycolor-bluegreen-7a;
$color-default-system-caution: $ycolor-yellow-5a;
