$sd-dark-blue: #0b5289;
$sd-light-blue: #0071bc;
$sd-lighter-blue: #63a4ee;
$sd-pale-blue: #96c4e9;
$sd-pale-purple: #b9ccf5;
$sd-black: #303030;
$sd-white: #fff;
$sd-light-gray: #ccc;
$sd-gradient-start: $sd-light-blue;
$sd-gradient-end: $sd-dark-blue;

$sd-warn-fg: #fafbfc;
$sd-warn-bg: #cb2431;
$sd-info-fg: #0b548c;
$sd-info-bg: #daedf8;

$sd-search-highlight: rgba(242, 242, 242, 0.1);
$sd-search-placeholder: rgba(255, 255, 255, 0.6);
$sd-button-gradient-start: #3570f4;
$sd-button-gradient-end: #3697f2;

$sd-primary: #003abc;
$sd-link: #188fff;

$sd-text: #26282a;
$sd-text-med: #979ba7;
$sd-text-light: #d8dade;

$sd-table-hover: #ecf1fd;

$sd-separator: #f1f1f5;
$sd-highlight: #e7f4ff;

$sd-warning: #ffd333;

$sd-success: #1ac567;
$sd-success-gradient-start: #00c1a5;
$sd-success-gradient-end: #00cd7a;

$sd-failure: #dc142d;
$sd-aborted: $sd-failure;
$sd-failure-gradient-start: #f0162f;
$sd-failure-gradient-end: #f80e5d;
$sd-no-build: $grey-600;
$sd-empty: #e8e8e8;

$sd-running: #0f69ff;
$sd-queued: $sd-running;
$sd-unstable: $sd-warning;
$sd-running-gradient-start: $sd-link;
$sd-running-gradient-end: $sd-running;

$sd-flyout-bg: #f0f4ff;
$sd-flyout-hover: #f7faff;
$sd-active-hl: #3570f4;
