$sd-success: $ycolor-green-6b;
$sd-failure: $ycolor-red-2b;
$sd-aborted: $ycolor-red-2b;
$sd-running: $ycolor-blue-10b;
$sd-queued: $ycolor-blue-10b;

$sd-primary: $ycolor-blue-3;
$sd-link: $ycolor-blue-1a;

$sd-separator: $ycolor-gray-2;
$sd-text-light: $ycolor-gray-4;
$sd-text-med: $ycolor-gray-6;
$sd-time: $sd-text-med;
$sd-text: $ycolor-gray-11;
