@use 'screwdriver-colors' as colors;

@mixin styles {
  .btn-primary {
    color: colors.$sd-white;
    background-color: colors.$sd-running;
    border-color: colors.$sd-running;

    &:hover:not(:disabled) {
      background-color: rgba(colors.$sd-running, 0.75);
      border-color: transparent;
    }
  }

  .btn-outline-primary {
    color: colors.$sd-running;
    border-color: colors.$sd-running;

    &:hover:not(:disabled) {
      background-color: rgba(colors.$sd-running, 0.1);
    }
  }

  .btn-danger {
    color: colors.$sd-white;
    background-color: colors.$sd-warn-bg;
    border-color: colors.$sd-warn-bg;

    &:hover:not(:disabled) {
      background-color: rgba(colors.$sd-warn-bg, 0.75);
      border-color: transparent;
    }
  }

  .btn-outline-danger {
    color: colors.$sd-warn-bg;
    border-color: colors.$sd-warn-bg;

    &:hover:not(:disabled) {
      background-color: rgba(colors.$sd-warn-bg, 0.1);
    }
  }
}
