.token-confirm-dialog {
  padding: 0 50px 20px;

  & button {
    width: 100%;
    border-width: 0;
    background-color: $sd-running;
    color: $sd-white;
    border-radius: 3px;
  }

  & .delete {
    background-color: $sd-failure;
  }
}

.detached-confirm-dialog {
  max-width: 80%;

  h3 {
    margin: 10px 0;
    padding: 0 7px;
  }

  p {
    padding: 0 7px;
  }

  .right {
    text-align: right;
  }
}

.collection-modal {
  .modal-title {
    font-weight: bold;
  }
  .collection-form__cancel {
    border-color: $sd-running;
    color: $sd-running;
  }
  textarea {
    resize: none;
  }

  .name {
    margin-bottom: 30px;
  }

  .form-control {
    background-color: $sd-flyout-bg;
  }

  .control-label {
    font-weight: normal;
  }

  .description {
    margin-bottom: 40px;

    .description-input {
      height: 85px;
    }
  }

  .modal-header {
    padding: 15px 40px;

    .close {
      margin-top: 1px;
    }
  }

  .modal-body {
    padding: 50px 40px;
  }

  .btn,
  .form-control {
    border-radius: 3px;
  }

  .btn {
    width: 150px;
  }

  .collection-form__create {
    background-color: $sd-running;
    border-color: $sd-running;
  }

  .collection-form__create:hover {
    background-color: $sd-link;
    border-color: $sd-link;
  }
}

.toggle-modal {
  .modal-title {
    font-weight: bold;
  }
  .toggle-form__cancel {
    border-color: $sd-running;
    color: $sd-running;
  }
  textarea {
    resize: none;
  }

  .form-control {
    background-color: $sd-flyout-bg;
  }

  .control-label {
    font-weight: normal;
  }

  .message {
    margin-bottom: 30px;
  }

  .modal-header {
    padding: 15px 40px;

    .close {
      margin-top: 1px;
    }
  }

  .modal-body {
    padding: 50px 40px;
  }

  .btn,
  .form-control {
    border-radius: 3px;
  }

  .btn {
    width: 150px;
  }

  .toggle-form__create {
    background-color: $sd-running;
    border-color: $sd-running;
  }

  .toggle-form__create:hover {
    background-color: $sd-link;
    border-color: $sd-link;
  }
}

.modal-dialog {
  .modal-content {
    border-radius: 3px;
  }
}
