.token-confirm-dialog {
  padding: 0 50px 20px;

  & button {
    width: 100%;
    border-width: 0;
    background-color: $sd-running;
    color: $sd-white;
    border-radius: 3px;
  }

  & .delete {
    background-color: $sd-failure;
  }
}

.detached-confirm-dialog {
  max-width: 320px;

  h3 {
    margin: 10px 0;
    padding: 0 7px;
  }

  p {
    padding: 0 7px;
  }

  .right {
    text-align: right;
  }
}
