$sd-dark-blue: #0B5289;
$sd-light-blue: #0071BC;
$sd-black: #303030;
$sd-white: #FFFFFF;
$sd-gradient-start: $sd-light-blue;
$sd-gradient-end: $sd-dark-blue;

$sd-primary: #003abc;
$sd-link: #188fff;

$sd-text: #26282a;
$sd-text-med: #979ba7;
$sd-text-light: #d8dade;

$sd-separator: #f1f1f5;
$sd-highlight: #e7f4ff;

$sd-warning: #ffd333;

$sd-success: #1ac567;
$sd-success-gradient-start: #00c1a5;
$sd-success-gradient-end: #00cd7a;

$sd-failure: #dc142d;
$sd-aborted: $sd-failure;
$sd-failure-gradient-start: #f0162f;
$sd-failure-gradient-end: #f80e5d;

$sd-running: #0f69ff;
$sd-queued: $sd-running;
$sd-running-gradient-start: $sd-link;
$sd-running-gradient-end: $sd-running;
