$sd-dark-blue: #0B5289;
$sd-light-blue: #0071BC;
$sd-black: #303030;
$sd-white: #FFF;
$sd-gradient-start: $sd-light-blue;
$sd-gradient-end: $sd-dark-blue;

$sd-alert-fg: #FAFBFC;
$sd-alert-bg: #CB2431;

$sd-search-highlight: rgba(242, 242, 242, .1);
$sd-search-placeholder: rgba(255, 255, 255, .6);
$sd-button-gradient-start: #3570F4;
$sd-button-gradient-end: #3697F2;

$sd-primary: #003ABC;
$sd-link: #188FFF;

$sd-text: #26282A;
$sd-text-med: #979BA7;
$sd-text-light: #D8DADE;

$sd-separator: #F1F1F5;
$sd-highlight: #E7F4FF;

$sd-warning: #FFD333;

$sd-success: #1AC567;
$sd-success-gradient-start: #00C1A5;
$sd-success-gradient-end: #00CD7A;

$sd-failure: #DC142D;
$sd-aborted: $sd-failure;
$sd-failure-gradient-start: #F0162F;
$sd-failure-gradient-end: #F80E5D;

$sd-running: #0F69FF;
$sd-queued: $sd-running;
$sd-running-gradient-start: $sd-link;
$sd-running-gradient-end: $sd-running;

$sd-flyout-bg: #F0F4FF;
$sd-flyout-hover: #F7FAFF;
$sd-active-hl: #3570F4;
