button.start-with-parameters-button {
  width: 25px;
  padding-right: 20px;
}

.start-with-parameters-form {
  min-width: 300px;
  padding: 5px 10px;

  .btn-group {
    padding-left: 38%;
    margin-top: 10px;
  }
}

.parameter-group-list {
  max-height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;

  .parameter-group {
    margin: 10px 10px 0 0;
    border-radius: 3px;
    border: 1px solid $sd-separator;
    padding: 10px;
    font-weight: 300;
    color: $sd-text;
  }

  .parameter-list {
    &.collapsed {
      display: none;
    }
  }

  .control-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20em;
  }
}

.notice-default-values-icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 3%;
  height: 1em;
  color: $sd-warning;
}

& {
  position: relative;
  padding-top: 20px;

  &:after {
    position: absolute;
    top: 0;
    left: 8px;
    font-size: 12px;
    font-weight: 700;
    color: $sd-light-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: 'Start pipeline with parameters';
  }
}

.ember-basic-dropdown-trigger,
.ember-power-select-option {
  white-space: nowrap;
}

.ember-basic-dropdown-content {
  li.ember-power-select-option {
    width: fit-content;
    min-width: 100%;
  }
}
