<div>
  {{#if (not-eq this.jobId "")}}
    <LinkTo @route="pipeline.metrics" @model={{this.pipelineId}} @query={{hash jobId=this.jobId}}>
      <FaIcon @icon="chart-line" @fixedWidth="true" @title="Job metrics" />
    </LinkTo>
  {{/if}}
</div>