<div>
  {{#if (not-eq jobId "")}}
    <LinkTo @route="pipeline.metrics" @query={{hash jobId=jobId}}>
      <FaIcon @icon="line-chart" @fixedWidth=true @title="Job metrics" />
    </LinkTo>
  {{/if}}
</div>