@use 'screwdriver-colors' as colors;
@use 'variables';

@mixin styles {
  #confirm-action-modal {
    .modal-body {
      display: flex;
      flex-direction: column;

      #user-notice {
        display: flex;

        svg {
          padding-right: 0.75rem;
        }
      }

      .frozen-reason {
        label {
          display: flex;
          margin-bottom: 0;

          > div {
            margin: auto;
            padding-right: 0.25rem;
          }

          input {
            flex: 1;
            border-radius: 4px;
            border: 1px solid colors.$sd-text-med;
          }
        }
      }

      .pipeline-parameters {
        padding-top: 2.5rem;
      }

      .no-parameters-title {
        font-size: 1.2rem;
        font-weight: variables.$weight-bold;
        color: colors.$sd-light-gray;
        padding-top: 2.5rem;
      }
    }
  }
}
