@use 'screwdriver-colors' as colors;
@use 'variables';
@use 'selectable/styles' as selectable;

@mixin styles {
  .pipeline-parameters {
    .parameter-title {
      font-size: 1.2rem;
      font-weight: variables.$weight-bold;
      color: colors.$sd-light-gray;
    }

    .parameters-container {
      max-height: 50vh;
      overflow-y: scroll;

      .parameter-group {
        border-radius: 8px;
        border: 1px solid colors.$sd-separator;
        margin-top: 1rem;
        padding: 0.5rem;

        .group-title {
          display: flex;
          font-size: 1.5rem;

          svg {
            margin-top: 0.25rem;
            margin-right: 0.25rem;
          }

          .title {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .parameter-list {
          &.collapsed {
            display: none;
          }

          .parameter {
            display: flex;
            align-items: baseline;
            padding: 0.2rem;

            label {
              display: flex;
              padding-right: 0.5rem;
              flex-basis: 25%;
              max-width: 50%;

              .name {
                overflow: hidden;
                text-overflow: ellipsis;
              }

              svg {
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 0.25rem;

                &.fa-triangle-exclamation {
                  color: colors.$sd-warning;
                }
              }
            }

            .dropdown-selection-container {
              flex: 1;
              min-width: 50%;

              @include selectable.styles;
            }

            > input {
              flex: 1;
              border-radius: 4px;
              border: 1px solid colors.$sd-text-med;
              padding-left: 8px;

              &:disabled {
                background-color: rgba(colors.$sd-disabled, 0.25);
                color: colors.$sd-text;
              }
            }
          }
        }
      }
    }
  }
}
