@use 'screwdriver-colors' as colors;

@mixin styles {
  #toggle-pipeline-modal {
    #toggle-pipeline-message {
      .toggle-pipeline-message-warning {
        color: colors.$sd-warn-bg;

        svg {
          margin-right: 0.25rem;
        }
      }
    }

    .modal-body {
      label {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        input {
          background-color: colors.$sd-flyout-bg;
          border-radius: 3px;
          border: 1px solid colors.$sd-light-gray;
          padding: 0.375rem 0.75rem;
        }
      }
    }
  }
}
