@use 'screwdriver-colors' as colors;
@use 'ember-models-table';

@use 'cell/account/styles' as account;
@use 'cell/branch/styles' as branch;
@use 'cell/pipeline/styles' as pipeline;
@use 'cell/status/styles' as status;

@mixin styles {
  #child-pipelines {
    @include ember-models-table.styles;

    display: flex;
    flex-direction: column;
    height: 100%;

    $table-footer-height: 2.5rem;

    .table-main {
      max-height: calc(100% - $table-footer-height);
      margin-top: 0;
      overflow: auto;

      table {
        table-layout: fixed;
        width: 100%;

        thead {
          position: sticky;
          top: 0;
          background: colors.$sd-white;

          th {
            border: none;

            &.pipeline-column,
            &.branch-column {
              min-width: 20rem;
              width: 40%;
            }
            &.account-column {
              width: 20rem;
            }
            &.status-column {
              width: 10rem;
            }
            &.actions-column {
              width: 7.5rem;
            }
          }
        }

        tbody {
          @include account.styles;
          @include branch.styles;
          @include pipeline.styles;
          @include status.styles;
        }
      }
    }

    .table-footer {
      height: $table-footer-height;
    }
  }
}
