# These are provided by ember-cli. Modification will make upgrades harder.
app.js
resolver.js
testem.js
tests/test-helper.js
tests/helpers/destroy-app.js
tests/helpers/module-for-acceptance.js
tests/helpers/start-app.js
public
vendor
ember-cli-build.js
tmp
dist
/blueprints/*/files/**/*.js
