& {
  padding: 10px 0;
  color: $sd-text;
  font-size: 14px;

  .duration {
    font-style: italic;
    color: $sd-text-med;
  }

  .chevron {
    color: $sd-text-light;
    padding-right: 15px;
  }

  .row div:last-child {
    text-align: right;
  }

  .sd-step {
    color: $sd-text-med;
  }

  .status-icon {
    padding-left: 15px;
  }

  &.success .status-icon {
    color: $sd-success;
  }

  &.failure .status-icon {
    color: $sd-failure;
  }

  &.running .status-icon {
    color: $sd-running;
  }
}
