& {
  padding: 10px 0;
  border-bottom: 1px solid $sd-separator;
  color: $sd-text;
  font-size: 14px;

  .duration {
    font-style: italic;
    color: $sd-time;
  }

  .chevron {
    color: $sd-text-light;
  }

  .pure-g div:last-child {
    text-align: right;
  }

  .status-icon {
    padding-left: 15px;
  }

  &.success .status-icon {
    color: $sd-success;
  }

  &.failure .status-icon {
    color: $sd-failure;
  }

  &.running .status-icon {
    color: $sd-running;
  }
}
