& {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.pure-g div:last-child {
  text-align: right;
}

&.success .status-icon {
  color: $ycolor-green-6b;
}

&.failure .status-icon {
  color: $ycolor-red-2b;
}

&.running .status-icon {
  color: $ycolor-blue-10b;
}
