<div class="row">
  {{collections-flyout
      class="col-md-2"
      onDeleteCollection=(action "onDeleteCollection")
      selectedCollectionId=collection.id
      editingDescription=editingDescription
      changeCollection=(action "changeCollection")
      collections=collections
  }}
  {{collection-view
      class="col-md-10"
      onPipelineRemove=(action "removePipeline")
      addMultipleToCollection=(action "addMultipleToCollection")
      removeMultiplePipelines=(action "removeMultiplePipelines")
      collection=collection
      collections=model.collections
      eventsMap=eventsMap
      editingDescription=editingDescription
      editingName=editingName
  }}
</div>

{{outlet}}