<div class="row">
  {{collections-flyout
      class="col-md-2"
      onDeleteCollection=(action "onDeleteCollection")
      selectedCollectionId=collection.id
      editingDescription=editingDescription
      changeCollection=(action "changeCollection")
  }}
  {{collection-view
      class="col-md-10"
      onPipelineRemove=(action "removePipeline")
      collection=collection
      eventsMap=eventsMap
      editingDescription=editingDescription
      editingName=editingName
  }}
</div>

{{outlet}}