<div class="row">
  {{collections-flyout
      class="col-md-3"
      onDeleteCollection=(action "onDeleteCollection")
      selectedCollectionId=collection.id
  }}
  {{collection-view
      onPipelineRemove=(action "removePipeline")
      collection=collection
      class="col-md-9"
  }}
</div>

{{outlet}}