<div class="row">
  {{collections-flyout class="col-md-3" selectedCollectionId=model.id}}
  {{collection-view
      onPipelineRemove=(action "removePipeline")
      collection=model
      class="col-md-9"
  }}
</div>

{{outlet}}
