& {
  .quickstart-guide-menu {
    position: fixed;
    color: #303030;
    top: 60px;
    right: 0;

    .mini-menu-oval {
      width: 36px;
      height: 36px;
      color: white;
      background-color: #303030;
      border-radius: 50%;
      margin-right: -16px;

      .mini-menu {
        font-size: 16px;
        top: 8px;
        position: relative;
        left: 5px;
      }
    }
  }

  .quickstart-guide {
    position: fixed;
    color: white;
    background-color: #303030;

    // cover header
    // top: 0;
    // does not cover header
    top: 52px;

    right: 0;
    width: 33%;
    height: 100%;

    display: flex;
    flex-direction: column;

    &.menu-open {
      transform: translate3d(0, 0, 0);
      transition: all 0.5s ease 0s;
    }

    &.menu-close {
      transform: translate3d(100%, 0px, 0px);
      transition: all 0.5s ease 0s;
    }

    .header,
    .content,
    .footer {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      .item {
        display: flex;
        flex-direction: row;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        align-items: center;
        padding-bottom: 10px;

        .icon {
          display: flex;
          width: 26px;
          font-size: 26px;
          margin-left: 14px;
          margin-right: 14px;
        }

        .section {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }
    }

    .header > .item > .section > .title {
      width: 100%;
      font-size: 28px;
      display: flex;

      .text {
        display: flex;
      }

      .close-quickstart-guide {
        display: flex;
        margin-left: auto;
        margin-right: 10%;
      }
    }

    .footer {
      align-items: center;
      > .quickstart-doc-button {
        display: flex;
        background-color: #303030;
        border-color: $sd-light-blue;
        padding-top: 9px;
        padding-bottom: 9px;
        justify-content: center;
        align-items: center;

        width: 80%;

        > span {
          display: flex;
          padding-right: 5px;
        }
      }
    }
  }
}
