& {
  @import 'app/styles/column-view';

  &:last-child {
    .view {
      border: none;
    }
  }

  .label {
    display: inline-block;
    float: right;
    color: $grey-600;
    text-align: left;
    white-space: normal;
  }
  .parameters {
    ul {
      list-style: none;
    }
  }
}

.startButton {
  float: right;
  border: 1px solid $sd-link;
  background-color: $sd-white;
  color: $sd-link;
  border-radius: 2px;
  padding: 5px 15px;
  margin-top: 5px;

  &:hover {
    background-color: $sd-link;
    border-color: $sd-link;
    color: $sd-white;
  }
}

.stopButton {
  float: right;
  border: 1px solid $sd-aborted;
  background-color: $sd-white;
  color: $sd-aborted;
  border-radius: 2px;
  padding: 5px 15px;
  margin-top: 5px;

  &:hover {
    background-color: $sd-aborted;
    border-color: #ccc;
    color: $grey-800;
  }
}

.detail {
  overflow: auto;

  .workflow {
    overflow-x: auto;
  }
}
