& {
  border-bottom: 1px solid $grey-300;

  &.highlighted {
    background-color: $brand-100;
  }

  &:hover {
    background-color: $brand-200;
  }
}

a {
  color: $brand-600;
}

td {
  padding: 10px 0;

  &.workflow {
    padding: 5px 0;
  }
}

.commit a {
  padding: 5px;
  margin: 0 5px;

  &.last-successful {
    background-color: $sd-success;
    color: $sd-white;
    border-radius: 3px;
  }
}
