  <div class="col-xs-12 col-md-8">
    <section class="preference">
      <h3>User Preferences</h3>
      <ul>
        <li>
          <div class="row">
            <div class="col-xs-10">
              <p>All settings to enhance your experience.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-xs-9">
              <h4>Choose timestamp format</h4>
              <p>Choose your preferred timestamp format</p>
            </div>
            <div class="col-xs-3">
              {{#power-select
                options=timestampOptions
                renderInPlace=true
                selected=selectedTimestampFormat
                searchEnabled=false
                placeholder="Select timestamp"
                onchange=(action "selectTimestampFormat")
                as |timestampFormat|}}
                {{timestampFormat.name}}
              {{/power-select}}
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>