@use 'screwdriver-button' as button;
@use 'screwdriver-colors' as colors;

@mixin styles {
  .actions-cell {
    display: flex;

    @include button.styles;

    .btn {
      display: flex;
      border-color: transparent;
      padding: 0;

      &:disabled {
        color: colors.$sd-disabled;
      }

      &:hover {
        background-color: transparent;
      }

      svg {
        font-size: 1.25rem;
        margin: auto;
      }
    }
  }
}
