& {
  border: 1px solid #ddd;
}

td {
  padding: 5px;
}

input {
  border-color: transparent;
}

&:hover input {
  border-color: initial;
}

input:focus {
  border-color: initial;
}

button {
  border-width: 0;
  width: 100px;
  border-radius: 3px;
}

button.Update {
  background-color: $sd-running;
  color: $sd-white;
}

button.Override {
  background-color: $sd-running;
  color: $sd-white;
}

button.Delete {
  background-color: $sd-failure;
  color: $sd-white;
}

button.Revert {
  background-color: $sd-failure;
  color: $sd-white;
}

.toggle-icon {
  margin-left: -25px;
  position: relative;
  z-index: 2;
}
