<td class="name">{{secret.name}}</td>
<td class="pass">{{input type="password" placeholder="Protected" size="40" value=newValue key-up="newValueDidChange"}}</td>
<td><button {{action "modifySecret"}}>{{buttonAction}}</button></td>
