& {
  padding: 10px 25px;
}

.info-message {
  margin-top: 10px;
}

table {
  width: 100%;
  font-weight: 300;
}

tbody tr {
  border: 1px solid #ddd;
}

th {
  font-weight: 300;
  color: $ycolor-gray-6;
  text-transform: uppercase;
  text-align: left;
  padding-left: 5px;
}

.new td {
  padding: 5px;
  background-color: $ycolor-gray-4;
}

tfoot button {
  border-width: 0;
  width: 100px;
  background-color: #0078ff;
  color: #fff;
  border-radius: 3px;
}

tfoot button:disabled {
  background-color: inherit;
  color: inherit;
}
