& {
  padding: 10px 15px;
}

table {
  width: 100%;
}

tbody tr {
  border: 1px solid $grey-500;
}

th {
  color: $sd-text-med;
  text-transform: uppercase;
  text-align: left;
  padding-left: 5px;
}

.new td {
  padding: 5px;
  background-color: $sd-text-light;
}

tfoot button {
  border-width: 0;
  width: 100px;
  background-color: $sd-primary;
  color: $sd-white;
  border-radius: 3px;
}

tfoot button:disabled {
  background-color: inherit;
  color: inherit;
}
