@use 'variables';

@use 'table/styles' as secretsTable;

@mixin styles {
  .secrets-container {
    height: 100%;

    $header-height: 5.25rem;

    #error-message {
      margin: 0 1rem;
    }

    .secrets-header {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .secrets-header-text {
        display: flex;
        flex-direction: column;
        height: 100%;

        .secrets-header-title,
        .secrets-explanation {
          margin-left: 1rem;
          margin-right: 0.5rem;
        }

        .secrets-header-title {
          font-size: 1.5rem;
          font-weight: variables.$weight-bold;
        }
      }

      .new-secret {
        margin-right: 1rem;
      }
    }

    #secrets-table {
      $margin-bottom: 1rem;
      margin-bottom: $margin-bottom;
      height: calc(100% - $header-height - $margin-bottom);

      @include secretsTable.styles;
    }
  }
}
