& {
  padding-top: 5px;
  background: url('/assets/main_bkgrd_home.png') transparent;
  background-size: cover;
  background-position: 0 -100px;
}

.pure-menu-horizontal {
  padding: 0 25px;
}

a {
  color: #fff;
  background-color: transparent;
  border-radius: 3px 3px 0 0;
  font-weight: 300;
  border-bottom: 4px solid transparent;
}

a:hover {
  background-color: transparent;
}

a.active {
  background-color: transparent;
  border-bottom: 4px solid $ycolor-blue-3;
}
