& {
  padding-left: 40px;
  background-color: $brand-100;

  .nav-pills a {
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    color: $brand-600;

    &.active {
      color: $grey-800;
      background-color: transparent;
    }
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: $sd-white;
  }

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover,
  .nav-pills > .active > a:focus {
    background-color: $sd-white;
    color: $grey-800;
  }
}

.beta-feature {
  position: relative;

  &:after {
    content: 'Beta';
    color: #fff;
    background: #ff4444;
    font-size: 0.65em;
    position: absolute;
    line-height: 1;
    top: -1em;
    right: -1em;
    padding: 3px 5px;
    border-radius: 5px;
  }
}
