<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">{{#link-to "pipeline.builds" class="pure-menu-link"}}Builds{{/link-to}}</li>
    <li class="pure-menu-item">{{#link-to "pipeline.secrets" class="pure-menu-link"}}Secrets{{/link-to}}</li>
    <li class="pure-menu-item">{{#link-to "pipeline.options" class="pure-menu-link"}}Options{{/link-to}}</li>
  </ul>
</div>
