<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">{{#link-to "pipeline.index" class="pure-menu-link"}}Builds{{/link-to}}</li>
    <li class="pure-menu-item">{{#link-to "pipeline.secrets" class="pure-menu-link"}}Secrets{{/link-to}}</li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Options</a></li>
  </ul>
</div>
