<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Builds</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Environment</a></li>
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Options</a></li>
  </ul>
</div>
