<article class="command">
  <header>
    {{#link-to "commands.detail" command.namespace command.name}}<h4>{{headerTitle}}</h4>{{/link-to}}
  </header>
  <p class="description">
    {{command.description}}
  </p>
</article>