{{app-header
  currentUrl=currentUrl
  scmContexts=model
  session=session
  showSearch=true
  authenticate=(action "authenticate")
  onInvalidate=(action "invalidateSession")
  searchPipelines=(action "search")
}}
{{nav-banner}}
<div id="appContainer" class="container-fluid">
{{outlet}}
</div>
