{{app-header currentUrl=currentUrl session=session onInvalidate=(action "invalidateSession") showSearch=true searchPipelines=(action "search") authenticate=(action "authenticate") scmContexts=model}}
<div id="appContainer" class="container-fluid">
{{outlet}}
</div>
