@use 'screwdriver-colors' as colors;

@mixin styles {
  #toggle-job-modal {
    .modal-body {
      .toggle-jobs-list {
        height: 4rem;
        overflow: auto;
        margin-bottom: 1rem;
      }

      label {
        display: flex;
        flex-direction: column;

        input {
          background-color: colors.$sd-flyout-bg;
          border-radius: 3px;
          border: 1px solid colors.$sd-light-gray;
          padding: 0.375rem 0.75rem;
        }
      }
    }
  }
}
