& {
  padding: 10px;
  border-bottom: 1px solid $ycolor-gray-4;
  color: $ycolor-gray-11;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;

  a {
    color: $ycolor-blue-1a;
    text-decoration: none;
    font-weight: 600;
  }
}

.right {
  text-align: right;
}

.workflow .job {
  text-indent: -9000px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: $ycolor-gray-e;
}

.SUCCESS .job {
  background-color: $ycolor-green-6b;
}
.FAILURE .job {
  background-color: $ycolor-red-2b;
}
.RUNNING .job, .QUEUED .job {
  background-color: $ycolor-blue-10b;
}

.duration, .created {
  font-size: 14px;
  color: $ycolor-gray-6;
}
.duration {
  font-style: italic;
}
