@font-face {
  font-family: 'denali-icons';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/denali-icons.eot?#iefix') format('embedded-opentype'), url("/assets/denali-icons.ttf") format("truetype");
}
