<h4>Artifacts</h4>
{{ember-jstree
    data=treedata.content
    plugins=plugins
    typesOptions=typesOptions
    eventDidChange="handleJstreeEventDidChange"
}}
{{#unless treedata.content.length}}
<span>No artifacts yet</span>
{{/unless}}
