<div class="{{this.buildStatus}} artifact-tree">
  <h4>Artifacts</h4>
  {{ember-jstree
    data=this.treedata.content
    plugins=this.plugins
    typesOptions=this.typesOptions
    actionReceiver=this.jstreeActionReceiver
    eventDidRedraw=(action "handleJstreeEventDidRedraw")
    eventDidChange=(action "handleJstreeEventDidChange")
  }}
  {{#unless this.treedata.content.length}}
    <span>No artifacts yet</span>
  {{/unless}}
</div>