<h4>Artifacts</h4>
<div class="tree">
  {{ember-jstree
      data=treedata
      plugins=plugins
      typesOptions=typesOptions
      eventDidChange="handleJstreeEventDidChange"
  }}
</div>
{{yield}}