@use 'screwdriver-colors' as colors;
@use 'ember-models-table';

@mixin styles {
  .tokens-table {
    @include ember-models-table.styles;

    display: flex;
    flex-direction: column;
    height: 100%;

    $table-footer-height: 2.5rem;

    .table-main {
      max-height: calc(100% - $table-footer-height);
      margin-top: 0;
      overflow: scroll;

      table {
        table-layout: fixed;
        width: 100%;

        .name-column {
          padding-left: 1rem;
        }

        .name-column,
        .description-column {
          overflow: auto;
        }

        .last-used-column,
        .actions-column {
          width: 10rem;
        }

        thead {
          position: sticky;
          top: 0;
          background: colors.$sd-white;
          z-index: 1;

          th {
            border: none;
          }
        }

        tbody {
          .name-column,
          .last-used-column {
            padding-left: 1rem;
          }
        }
      }
    }

    .table-footer {
      height: $table-footer-height;
    }
  }
}
