@use 'screwdriver-colors' as colors;
@use 'variables' as variables;
@use 'secrets/styles' as secrets;
@use 'secrets/modal/create/styles' as modalCreate;
@use 'secrets/modal/delete/styles' as modalDelete;
@use 'secrets/modal/edit/styles' as modalEdit;

@mixin styles {
  @include modalCreate.styles;
  @include modalDelete.styles;
  @include modalEdit.styles;

  #secrets-and-tokens {
    height: 100%;

    $pipeline-tab-height: variables.$pipeline-tab-height;

    #secrets-and-tokens-tab {
      display: flex;
      align-items: center;
      height: $pipeline-tab-height;

      ul {
        border: none;

        li {
          padding-left: 1rem;
          padding-right: 1rem;
          text-align: center;

          &.active {
            border-bottom: 0.2rem solid colors.$sd-link;
          }

          a {
            color: colors.$sd-text-med;
            border: none;
            background-color: transparent;

            &.active {
              color: colors.$sd-link;
              font-weight: variables.$weight-bold;
            }
          }
        }
      }
    }

    #secrets-and-tokens-container {
      height: calc(100% - $pipeline-tab-height);
      overflow: auto;

      @include secrets.styles;
    }
  }
}
