<div id="secrets-and-tokens">
  <div id="secrets-and-tokens-tab">
    <BsNav @type="tabs" as |nav|>
      <nav.item>
        <nav.link-to @route="v2.pipeline.secrets">Secrets</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="v2.pipeline.tokens">Tokens</nav.link-to>
      </nav.item>
    </BsNav>
  </div>

  <div id="secrets-and-tokens-container">
    {{#if (eq @activeTab "secrets")}}
      <Pipeline::SecretsAndTokens::Secrets
        @pipelineId={{@pipelineId}}
      />
    {{else}}
      <Tokens
        @pipelineId={{@pipelineId}}
        @type="pipeline"
      />
    {{/if}}
  </div>
</div>
