@mixin styles {
  .pipeline-workflow-graph {
    grid-area: pipeline-event-main-content;

    #pipeline-workflow-graph-controls {
      display: flex;
      align-content: center;
      padding-left: 1rem;
      height: 2.5rem;
    }

    #workflow-graph-container {
      position: relative;
      height: calc(100% - 2.5rem);
      overflow: auto;

      #workflow-graph {
        height: 100%;

        svg {
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
  }
}
