{{page-title "Show"}}

<!-- TODO: if there are no events, then we don't need to display the below -->
<div class="pipeline-events">
  <div class="search-filter-bar">

    <span class="search-filter">
      <span class="search">
        {{svg-jar "search" class="img"}}
      </span>
      <span class="filter">
        <FaIcon @icon="filter" />
      </span>
    </span>

    <span class="new-event">
      <span>Start a new event</span>
      <FaIcon @icon="plus" />
    </span>
  </div>

  <div class="event-cards">
  </div>
</div>


<div class="pipeline-workflow-graph">
</div>
