{{#link-to "pipeline.builds.build" build.id class=build.status title=linkTitle}}
<span class="status">{{fa-icon icon}}</span>
<p>{{jobName}}</p>
{{/link-to}}
<span class="dir-arrow">
  {{fa-icon "long-arrow-right"}}
</span>