& {
  ul {
    color: $sd-text-med;
  }

  ul > li > strong {
    // display: inline-block;
    // white-space: initial;
    // vertical-align: text-top;
    color: red !important;
  }

  ul > li > span {
    font-family: monospace;
    display: inline-block;
    white-space: pre-wrap;
    color: $sd-text-med;
  }
}
