@use 'screwdriver-colors' as colors;
@use 'ember-models-table';

@use 'cell/allowed-in-pr/styles' as allowedInPr;
@use 'cell/inherited/styles' as inherited;

@mixin styles {
  .secrets-table {
    @include ember-models-table.styles;

    display: flex;
    flex-direction: column;
    height: 100%;

    $table-footer-height: 2.5rem;

    .table-main {
      max-height: calc(100% - $table-footer-height);
      margin-top: 0;
      overflow: auto;

      table {
        table-layout: fixed;
        width: 100%;

        .key-column {
          padding-left: 1rem;
          overflow: auto;
        }

        .allow-in-pr-column,
        .inherited-column,
        .actions-column {
          width: 10rem;
        }

        thead {
          position: sticky;
          top: 0;
          background: colors.$sd-white;
          z-index: 1;

          th {
            border: none;
          }
        }

        tbody {
          .key-column {
            padding-left: 1rem;
          }

          .allow-in-pr-column {
            @include allowedInPr.styles;
          }

          .inherited-column {
            @include inherited.styles;
          }
        }
      }
    }

    .table-footer {
      height: $table-footer-height;
    }
  }
}
