& {
  .job-cell {
    display: flex;
  }

  .job-name {
    display: inline-flex;
    padding-left: 5px;
    word-break: break-word;
  }

  .fa {
    width: 0.8em;
    font-size: 1.5em;
  }

  .SUCCESS {
    color: $sd-success;
  }

  .WARNING,
  .UNSTABLE {
    color: $sd-unstable;
  }

  .FAILURE,
  .ABORTED {
    color: $sd-failure;
  }

  .RUNNING,
  .QUEUED,
  .BLOCKED,
  .CREATED,
  .SKIPPED {
    color: $sd-running;
  }

  .COLLAPSED,
  .FROZEN {
    color: $sd-text-light;
  }
}
