<div class="job-cell">
  {{#if build}}
    {{#link-to "pipeline.build" build.id}}
      {{fa-icon build.icon fixedWidth=true class=build.status}}
    {{/link-to}}
  {{else}}
    <span fixedWidth=true class="fa"></span>
  {{/if}}
  <div class="job-name">{{jobName}}</div>
</div>
