@use 'screwdriver-colors' as colors;
@use 'screwdriver-button' as button;
@use 'variables';

@mixin styles {
  .event-card {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid colors.$sd-light-gray;
    cursor: pointer;

    &:hover {
      background: rgba(colors.$sd-highlight, 0.75);
    }

    &.highlighted {
      background: rgba(colors.$sd-pale-purple, 0.5);
    }

    &.outlined {
      border-width: 2px;
      border-color: colors.$sd-running;
    }

    &.filtered {
      visibility: hidden;
      height: 0;
      border: none;
      margin-bottom: 0;
      padding: 0;
    }

    .event-card-title {
      display: flex;
      height: 2.5rem;

      .event-status {
        display: flex;

        &.SUCCESS {
          svg {
            color: colors.$sd-success;
          }
        }

        &.WARNING,
        &.UNSTABLE {
          svg {
            color: colors.$sd-warning;
          }
        }

        &.FAILURE,
        &.ABORTED {
          svg {
            color: colors.$sd-failure;
          }
        }

        &.RUNNING,
        &.QUEUED,
        &.BLOCKED,
        &.SKIPPED {
          svg {
            color: colors.$sd-running;
          }
        }

        &.COLLAPSED {
          svg {
            color: colors.$sd-text-light;
          }
        }

        &.FROZEN {
          svg {
            color: colors.$sd-frozen;
          }
        }

        svg {
          margin: auto;
        }
      }

      .pr-title,
      .sha {
        display: flex;
        padding-left: 1rem;

        a {
          margin: auto;
        }
      }

      .last-successful {
        display: inline-block;
        background-color: colors.$sd-success;
        color: colors.$sd-white;
        border-radius: 3px;
        padding: 3px 5px;
        margin: auto 0 auto 5px;
      }

      .abort-event-button,
      .start-event-button {
        margin-left: auto;
        background-color: colors.$sd-white;
      }
    }

    .event-card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.85rem;
      flex: 1;

      .message {
        font-weight: variables.$weight-bold;
        font-size: 1rem;
        overflow-x: auto;
      }

      .label {
        display: flex;

        .label-contents {
          background: colors.$sd-light-gray;
          border-radius: 3px;
          padding: 0.25rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .time {
        font-size: 0.85rem;
      }
    }

    .event-card-footer {
      display: flex;
      justify-content: space-between;
      height: 2.5rem;

      .counts {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;

        .count {
          display: flex;
          padding-right: 0.5rem;

          .failures {
            svg {
              color: colors.$sd-failure;
            }
          }

          .warnings {
            svg {
              color: colors.$sd-warning;
            }
          }

          .successes {
            color: colors.$sd-success;
          }
        }
      }

      .event-buttons {
        display: flex;

        .parameters-button,
        .event-group-button {
          background: colors.$sd-white;
          margin: 0 0.25rem;
        }
      }
    }

    button {
      &.btn {
        display: flex;

        svg {
          margin: auto;
        }
      }
    }
  }
}
