<div>
  {{#each crumbs as |crumb index|}}
    {{#if (eq index 0) }}
    {{#link-to params=crumb.params}}{{crumb.name}}{{/link-to}}
    {{else}}
     / {{#link-to params=crumb.params}}{{crumb.name}}{{/link-to}}
    {{/if}}
  {{/each}}
</div>
