{{page-title "Pipeline"}}
> pipeline 

<div class="new-ui">
  <div class="grid-container">
    <div class="grid-item left">
      <NewuiPipelineNav />
    </div>
    <div class="grid-item right">
      PIPELINE STUFF
    </div>
  </div>
</div>

{{outlet}}