& {
  .version {
    color: $sd-link;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .metric-cell,
  .actions-cell,
  .published-time-cell {
    text-align: right;
    padding-right: 5px;
  }

  .table-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

  > * {
    margin-left: auto;
  }
  }
}
