<div class={{this.styleNamespace}} ...attributes>
  <h4>Versions:</h4>
  <ul>
    {{#each this.templates.templateData as |t|}}
      <li>
        {{#link-to "templates.detail" t.namespace t.name t.version}}<span class="version">{{t.version}}{{#if t.tag}} - {{t.tag}}{{/if}}</span>{{/link-to}}{{#if t.lastUpdated}} {{t.lastUpdated}}{{/if}}
      </li>
    {{/each}}
  </ul>
</div>