<h4>
  Versions:
</h4>
<ul>
  {{#each templates as |t|}}
    <li>
      <span class="version" {{action changeVersion t.version on="click"}}>
        {{t.version}}
        {{#if t.tag}}
          -{{t.tag}}
        {{/if}}
      </span>
      {{#if t.lastUpdated}}
        {{t.lastUpdated}}
      {{/if}}
    </li>
  {{/each}}
</ul>
