<h4>
  Versions:
</h4>
<ul>
  {{#each this.templates.templateData as |t|}}
    <li>
      <LinkTo
        @route="templates.detail"
        @models={{array t.namespace t.name t.version}}
      >
        <span class="version">
          {{t.version}}{{#if t.tag}}
            - {{t.tag}}
          {{/if}}
        </span>
      </LinkTo>{{#if t.lastUpdated}}
        {{t.lastUpdated}}
      {{/if}}
    </li>
  {{/each}}
</ul>