<h4>Versions:</h4>
<ul>
  {{#each templates.templateData as |t|}}
    <li>
      <a href={{t.version}}><span class="version">{{t.version}}{{#if t.tag}} - {{t.tag}}{{/if}}</span></a>{{#if t.lastUpdated}} {{t.lastUpdated}}{{/if}}
    </li>
  {{/each}}
</ul>
