& {
  padding: 0 25px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: $ycolor-blue-10b;
  padding: 5px 10px;
  border-bottom: 1px solid $ycolor-gray-c;

  .appId {
    display: inline-block;
    width: 400px;
  }

  .branch {
    color: #000;
  }
}

a:hover {
  background-color: $ycolor-gray-h;
  .appId {
    text-decoration: underline;
  }
}
