& {
  width: 640px;
  margin: 2em auto;

  a {
    display: block;
    text-decoration: none;
    color: $sd-link;
    cursor: pointer;
  }

  .appId {
    text-align: left;
    width: 45%;
    max-width: 250px;
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .branch {
    width: 25%;
    text-align: right;
    max-width: 200px;
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .account {
    width: 20%;
    text-align: left;
    white-space: nowrap;
  }

  tbody tr:hover {
    background-color: $sd-separator;
    .appId {
      text-decoration: underline;
    }
  }

  .num-results {
    padding: 10px;
    font-size: 14px;
    color: $sd-text-med;
  }

  table {
    width: 100%;
  }

  th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: $sd-text-med;
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid $sd-text-light;
  }

  .add-to-collection {
    border: none;
  }

  .dropdown-menu > li > span {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    width: 100%;

    &:hover {
      background-color: $sd-highlight;
      color: $sd-text;
      opacity: 1;
    }
  }
}

@media (max-width: 47.999em) {
  & {
    width: 100%;
  }
}
