<ul>
  {{#each filteredPipelines as |pipeline|}}
  <li>
    {{#link-to "pipeline" pipeline.id}}
      <span class="appId">{{pipeline.appId}}</span>
      <span class="branch">{{fa-icon "fa-code-fork"}}{{pipeline.branch}}</span>
    {{/link-to}}
  </li>
  {{/each}}
</ul>
{{if isEmpty "No Results"}}