.search-pipeline-searchbar {
  display: flex;
  width: 100%;

  .search-pipeline-input {
  }

  .search-pipeline-button {
  }
}

.searched-pipelines {
  .searched-pipeline {
    .add-pipeline-button {
      .img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
