@use 'screwdriver-colors' as colors;

@mixin styles {
  #pipeline-nav {
    border-right: 1px solid colors.$sd-separator;
    display: flex;
    flex-direction: column;
    padding-top: 0.75rem;

    a {
      color: rgba(colors.$sd-text, 0.75);
      margin: 0 auto;
      padding: 0.75rem;

      &:hover {
        color: colors.$sd-link;
      }

      &.active {
        color: colors.$sd-running;
      }
    }
  }
}
