<div id="pipeline-nav">
  <LinkTo
    id="events-nav-link"
    title="Events"
    @route="v2.pipeline.events"
  >
    <FaIcon @icon="cubes" @size="16x" />
  </LinkTo>
  {{#if this.hasChildPipelines}}
    <LinkTo
      id="child-pipelines-nav-link"
      title="Child pipelines"
      @route="v2.pipeline.child-pipelines"
    >
      <FaIcon @icon="sitemap" @size="16x" />
    </LinkTo>
  {{/if}}
  <LinkTo
    id="secrets-nav-link"
    title="Secrets"
    @route="v2.pipeline.secrets"
  >
    <FaIcon @icon="key" @size="16x" />
  </LinkTo>
  <LinkTo
    id="settings-nav-link"
    title="Settings"
    @route="v2.pipeline.settings"
  >
    <FaIcon @icon="gears" @size="16x" />
  </LinkTo>
  <LinkTo
    id="metrics-nav-link"
    title="Metrics"
    @route="v2.pipeline.metrics"
  >
    <FaIcon @icon="chart-line" @size="16x" />
  </LinkTo>
</div>
