<div id="pipeline-nav">
  <LinkTo @route="v2.pipeline.events" title="Events">
    <FaIcon @icon="cubes" @size="16x" />
  </LinkTo>
  {{#if this.hasChildPipelines}}
    <LinkTo @route="v2.pipeline.child-pipelines" title="Child pipelines">
      <FaIcon @icon="sitemap" @size="16x" />
    </LinkTo>
  {{/if}}
  <LinkTo @route="v2.pipeline.secrets" title="Secrets">
    <FaIcon @icon="key" @size="16x" />
  </LinkTo>
  <LinkTo @route="v2.pipeline.settings" title="Settings">
    <FaIcon @icon="gears" @size="16x" />
  </LinkTo>
  <LinkTo @route="v2.pipeline.metrics" title="Metrics">
    <FaIcon @icon="chart-line" @size="16x" />
  </LinkTo>
</div>
