@use 'screwdriver-colors' as colors;
@use 'screwdriver-toggle' as toggle;

@mixin styles {
  #edit-secret-modal {
    &.modal {
      .modal-dialog {
        .modal-body {
          .edit-secret {
            display: flex;
            flex-direction: column;

            label {
              display: flex;
              align-items: center;

              div {
                width: 6rem;
              }

              input {
                flex: 1;

                &.invalid {
                  color: colors.$sd-warn-bg;
                  outline: 2px solid colors.$sd-warn-bg;
                  border-radius: 3px;
                  border: none;
                }
              }
            }

            #allow-in-pr-container {
              display: flex;
              align-items: center;

              label {
                margin-bottom: 0;
              }

              @include toggle.styles;

              #allow-in-pr-toggle {
                justify-content: left;
              }
            }
          }
        }
      }
    }
  }
}
