<ul class="pipeline-nav">
  <li class="builds" title="Builds">
    <FaIcon @icon="question-circle" @size="16x"/>
  </li>
  <li class="secrets" title="Secrets">
    <FaIcon @icon="question-circle" @size="16x"/>
  </li>
  <li class="options" title="Options">
    <FaIcon @icon="question-circle" @size="16x"/>
  </li>
  <li class="metrics" title="Metrics">
    <FaIcon @icon="question-circle" @size="16x"/>
  </li>
</ul>
