<ul class="pipeline-nav">
  <li class="builds" title="Builds">
    <LinkTo @route="new.pipeline.builds"><FaIcon @icon="question-circle" @size="16x"/></LinkTo>
  </li>
  <li class="secrets" title="Secrets">
    <LinkTo @route="new.pipeline.secrets"><FaIcon @icon="question-circle" @size="16x"/></LinkTo>
  </li>
  <li class="options" title="Options">
    <LinkTo @route="new.pipeline.options"><FaIcon @icon="question-circle" @size="16x"/></LinkTo>
  </li>
  <li class="metrics" title="Metrics">
    <LinkTo @route="new.pipeline.metrics"><FaIcon @icon="question-circle" @size="16x"/></LinkTo>
  </li>
</ul>
