<ul class="pipeline-nav">
  <li class="builds" title="Builds">
    <LinkTo @route="v2.pipeline.events"><FaIcon @icon="cubes" @size="16x"/></LinkTo>
  </li>
  <li class="secrets" title="Secrets">
    <LinkTo @route="v2.pipeline.secrets"><FaIcon @icon="key" @size="16x"/></LinkTo>
  </li>
  <li class="options" title="Options">
    <LinkTo @route="v2.pipeline.options"><FaIcon @icon="wrench" @size="16x"/></LinkTo>
  </li>
  <li class="metrics" title="Metrics">
    <LinkTo @route="v2.pipeline.metrics"><FaIcon @icon="water" @size="16x"/></LinkTo>
  </li>
</ul>
