& {
  .fa {
    width: 0.8em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .clicks-enabled-start {
    color: $sd-link;
  }

  .clicks-enabled-stop {
    color: $sd-failure;
  }

  .clicks-disabled {
    color: $grey-600 !important;
    pointer-events: none;
  }
}
