<div class="coverage">
  {{#if (is-pending result)}}
    Loading
  {{/if}}
  {{#if (is-rejected result)}}
    <span class="coverage-value">N/A</span>
  {{/if}}
  {{#if (is-fulfilled result)}}
    <span class="coverage-value">{{get (await result) "coverage"}}</span>
  {{/if}}
</div>