<div class="coverage">
  {{#if (is-pending result)}}
    Loading
  {{else}}
    {{#if (await result)}}
      <span class="coverage-value">{{get (await result) "coverage"}}</span>
    {{/if}}
  {{/if}}
</div>