& {
  padding: 10px 25px 0;
  font-size: 16px;
  padding-bottom: 40px;
  margin: 0 auto;

  h1 {
    font-weight: $weight-bold;
  }
}

.text-input {
  box-sizing: border-box;
  margin-top: 10px;
  outline: 0;
  height: 45px;
  width: 50%;
  border-radius: 2px;
  border: 2px solid $sd-separator;
  font-size: 16px;
  padding-left: 10px;
  color: $sd-text;

  &:focus {
    border-color: $sd-running;
  }

  &::-webkit-input-placeholder {
    color: $sd-text-med;
  }

  &:-moz-placeholder {
    color: $sd-text-med;
  }

  &::-moz-placeholder {
    color: $sd-text-med;
  }

  &:-ms-input-placeholder {
    color: $sd-text-med;
  }

  &.bad-text-input {
    border-color: $sd-failure;
  }

  &.good-text-input {
    border-color: $sd-success;
  }

  &.root-dir {
    width: calc(50% - 15px);
  }
}

.success i {
  color: $sd-success;
  padding: 8px 8px 2px 8px;
  vertical-align: bottom;
  font-size: 36px;
}

.blue-button {
  @include transition(all, 50ms);
  border: none;
  border-radius: 3px;
  height: 45px;
  padding: 0 30px;
  color: $sd-white;
  font-size: 16px;
  margin-top: 20px;
  background: $sd-running;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $sd-link;
  }

  &:disabled {
    background: $sd-text-med;
  }

  .saving-loading {
    display: none;
  }

  &.saving {
    .saving-loading {
      display: block;
    }

    .button-label {
      display: none;
    }
  }

  &:active {
    &:not(:disabled) {
      @include scale(0.97);
    }
  }
}

.normal-weight {
  font-weight: normal;
}

.templates-dropdown {
  width: 50%;
}

#template-validate-results {
  position: absolute;
  left: 50%;
  width: 85%;
}
