<div class="buildPage">
  <div class="pure-g">
    <div class="pure-u-3-4">
      {{build-banner build=build}}

      {{#if build.steps}}
      {{build-step-collection steps=build.steps build=build}}
      {{/if}}
    </div>
    <div class="pure-u-1-4">
      {{build-details build=build}}
    </div>
  </div>
</div>

{{yield}}
