<button {{action "refreshListViewJobs"}} class="refresh-btn">Refresh</button>
{{#light-table table height="400px" as |t|}}
  {{t.head
    onColumnClick=(action "onColumnClick")
    iconSortable="fa fa-sort"
    iconAscending="fa fa-sort-asc"
    iconDescending="fa fa-sort-desc"
    fixed=true}}
  {{#t.body
    canSelect=false
    onScrolledToBottom=(action "onScrolledToBottom")
  }}{{/t.body}}
{{/light-table}}

{{#if isShowingModal}}
  {{#modal-dialog
    targetAttachment="center"
    translucentOverlay=true
    clickOutsideToClose=true
    onClickOverlay=(action "resetForm")
    containerClass="detached-confirm-dialog"
  }}
    <h3>Are you sure to start?</h3>
    {{pipeline-parameterized-build
      showSubmitButton=true
      buildParameters=buildParameters
      onSave=(action "startBuild")
      onClose=(action "closeModal")}}
  {{/modal-dialog}}
{{/if}}