& {
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    font-size: 14px;
    vertical-align: top;
    color: $sd-link;
    text-decoration: none;
  }

  img {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }
}

&.large {
  line-height: 32px;
  height: 32px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }
}
