& {
  @import 'app/styles/column-view';

  & {
    cursor: default;
    padding: 0 15px;
  }

  &:last-child > .view {
    border: none;
  }

  &:hover {
    background: none;
  }

  .view {
    padding-top: 10px;

    .view {
      padding-top: 0;
      border: none;
    }
  }

  .btn.event__stop {
    border: 1px solid $sd-aborted;
    background-color: #fff;
    color: $sd-aborted;
    width: 100px;
    font-size: 14px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: $weight-normal;

    &:hover,
    &.active:hover {
      border-color: #ccc;
      color: $grey-800;
    }
  }

  height: 100%;
}

.startButton {
  float: right;
  border: 1px solid $sd-link;
  background-color: $sd-white;
  color: $sd-link;
  border-radius: 2px;
  padding: 5px 15px;
  margin-top: 5px;

  &:hover {
    border-color: $sd-link;
    color: $sd-white;
  }
}

.prsStop {
  position: absolute;
  top: 20px;
  right: 20px;
}
