& {
  background-color: $grey-800;
  border-radius: 5px;
  color: $grey-100;
  padding: 0 15px 10px;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.row1 a {
  grid-column: 2;
}

.row1 a:first-child {
  grid-column: 1;
}

.row1 a:last-child {
  grid-column: 3;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 10fr;
  color: $sd-text-med;
}

.row2 .time {
  grid-column: 1;
}

.row2 .content {
  grid-column: 2;
}

.wrap {
  height: 500px;
  overflow-y: auto;
}

.logs {
  font-size: 1em;
  font-family: monospace;
  height: auto;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 10fr;

  .time {
    color: $sd-text-med;
    grid-column: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .content {
    grid-column: 2;
    white-space: pre-wrap;
  }
}

.right {
  text-align: right;
}
