& {
  background-color: $grey-800;
  border-radius: 5px;
  color: $grey-100;
  padding: 0 15px 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
}

.row div:first-child {
  grid-column: 1;
  cursor: pointer;
  padding: 5px 15px;
  color: $sd-text-med;
}

.row div:last-child {
  grid-column: 2;
  cursor: pointer;
  text-align: right;
  padding: 5px 15px;
  i {
    margin-right: 5px;
  }
  a {
    margin-left: 15px;
  }
}

.wrap {
  height: 500px;
  overflow-y: auto;
}

.logs {
  font-size: 1em;
  font-family: monospace;
  background-color: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  overflow: auto;
  height: auto;

  .time {
    color: $sd-text-med;
    display: inline-block;
    vertical-align: top;
    width: 70px;
  }

  .content {
    display: inline-block;
    white-space: pre-wrap;
    width: calc(100% - 80px);
  }
}

.right {
  text-align: right;
}
