& {
  background-color: $grey-800;
  border-radius: 5px;
  color: $grey-100;
  padding: 0 15px 10px;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row1 a:first-child {
  grid-column: 1;
  cursor: pointer;
}

.row1 a:last-child {
  grid-column: 3;
  cursor: pointer;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 10fr;
  color: $sd-text-med;
}

.row2 .time {
  grid-column: 1;
  cursor: pointer;
}

.row2 .content {
  grid-column: 2;
}

.wrap {
  height: 500px;
  overflow-y: auto;
}

.logs {
  font-size: 1em;
  font-family: monospace;
  white-space: pre-line;
  background-color: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  overflow: auto;
  height: auto;

  .line {
    display: flex;
    flex-direction: column;
  }

  .time {
    color: $sd-text-med;
  }

  .content {
    display: inline;
    white-space: pre-wrap;
    flex-grow: 1;
  }
}

@media screen and (min-width: 35.5em) {
  .logs .line {
    flex-direction: row;
  }
  .logs .time {
    display: inline-flex;
    margin-right: 10px;
  }
}

.right {
  text-align: right;
}
