& {
  background-color: $grey-800;
  border-radius: 5px;
  color: $grey-100;
  padding: 0 15px 10px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
}

.row div:first-child {
  grid-column: 1;
  cursor: pointer;
  padding: 5px 15px;
  color: $sd-text-med;
}

.row div:last-child {
  grid-column: 2;
  cursor: pointer;
  text-align: right;
  padding: 5px 15px;
  i {
    margin-right: 5px;
  }
  a {
    margin-left: 15px;
  }
}

.wrap {
  max-height: 100vh;
  overflow-y: auto;
  transform: translateZ(0);
}

.logs {
  font-size: 1em;
  font-family: monospace;
  background-color: #333;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  overflow: auto;
  height: auto;

  .time {
    color: $sd-text-med;
    display: inline-block;
    vertical-align: top;
    width: 70px;
  }

  .content {
    display: inline-block;
    white-space: pre-wrap;
    width: calc(100% - 80px);
  }
}

.right {
  text-align: right;
}

.ansi-black-fg {
  color: #3a3a3a;
}
.ansi-red-fg {
  color: #ff3b20;
}
.ansi-green-fg {
  color: #11d911;
}
.ansi-yellow-fg {
  color: #d9d911;
}
.ansi-blue-fg {
  color: #2235d7;
}
.ansi-magenta-fg {
  color: #d950d7;
}
.ansi-cyan-fg {
  color: #00c5c7;
}
.ansi-white-fg {
  color: #c7c7c7;
}
.ansi-bright-black-fg {
  color: #676767;
}
.ansi-bright-red-fg {
  color: #ff6d67;
}
.ansi-bright-green-fg {
  color: #5ff967;
}
.ansi-bright-yellow-fg {
  color: #fefb67;
}
.ansi-bright-blue-fg {
  color: #6871ff;
}
.ansi-bright-magenta-fg {
  color: #ff76ff;
}
.ansi-bright-cyan-fg {
  color: #5ffdff;
}
.ansi-bright-white-fg {
  color: #feffff;
}
.ansi-black-bg {
  background-color: #2a2a2a;
}
.ansi-red-bg {
  background-color: #d92b10;
}
.ansi-green-bg {
  background-color: #11d911;
}
.ansi-yellow-bg {
  background-color: #d9d911;
}
.ansi-blue-bg {
  background-color: #2235d7;
}
.ansi-magenta-bg {
  background-color: #d950d7;
}
.ansi-cyan-bg {
  background-color: #00c5c7;
}
.ansi-white-bg {
  background-color: #c7c7c7;
}
.ansi-bright-black-bg {
  background-color: #676767;
}
.ansi-bright-red-bg {
  background-color: #ff6d67;
}
.ansi-bright-green-bg {
  background-color: #5ff967;
}
.ansi-bright-yellow-bg {
  background-color: #fefb67;
}
.ansi-bright-blue-bg {
  background-color: #6871ff;
}
.ansi-bright-magenta-bg {
  background-color: #ff76ff;
}
.ansi-bright-cyan-bg {
  background-color: #5ffdff;
}
.ansi-bright-white-bg {
  background-color: #feffff;
}
