@use 'screwdriver-colors' as colors;
@use 'screwdriver-input' as input;

@mixin styles {
  #search-event-modal {
    &.modal {
      .modal-dialog {
        max-width: 30rem;

        #search-select {
          display: flex;
          width: 8rem;
          float: left;
          overflow: hidden;
          white-space: nowrap;

          select {
            display: flex;
            align-items: center;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
          }
        }

        #search-input {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 1rem;
          line-height: 2rem;
          white-space: nowrap;

          input {
            flex: 1;
          }

          @include input.styles;
        }

        .invalid-sha {
          color: colors.$sd-warn-bg;
        }

        #search-results {
          margin-top: 1rem;
          max-height: 35rem;
          overflow: scroll;
        }
      }
    }
  }
}
