& {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  margin-bottom: 0;
  left: 0;

  &:not(.step-hidden) {
    .step-content:hover {
      opacity: 1;
    }
  }

  .step-title {
    position: absolute;
    height: 40px;
    line-height: 45px;
    top: 0;
    left: 65px;
    font-size: 1.5em;
    font-weight: 450;
    color: $sd-text;
  }

  .step-line {
    height: 0;
    @include transition(all, $animate-done);
  }

  .step-content {
    padding-top: 50px;
    margin-bottom: 10px;
    padding-left: 65px;
    color: $sd-text-med;
    @include transition(opacity, 200ms);
    opacity: 1;
    max-height: 1000px;
  }

  .step-number {
    text-align: center;
    border: 3px solid $sd-success;
    color: $sd-success;
    font-weight: 500;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;

    span {
      color: $sd-success;
      opacity: 1;
    }

    i.fa {
      position: absolute;
      font-size: 27px;
      right: 6px;
      top: 6px;
      opacity: 0;
      color: $sd-success;
    }
  }

  &.step-hidden {
    margin-bottom: -5px;
    padding-bottom: 0;

    .step-number {
      border-color: $sd-text-light;
      color: $sd-separator;

      span {
        color: $sd-separator;
      }
    }

    .step-title {
      color: $sd-separator;
    }

    .step-content {
      opacity: 0;
      max-height: 0;

      * {
        margin: 0;
      }
    }

    .blue-button {
      display: none;
    }
  }

  &.step-done {
    .step-title {
      color: $sd-text-med;
    }

    .step-line {
      background: $sd-success;
      width: 3px;
      height: 100%;
      position: absolute;
      top: 40px;
      left: 22px;
    }

    .step-number {
      span {
        opacity: 0;
      }

      i.fa {
        opacity: 1;
      }
    }

    .step-content {
      opacity: 0.6;
    }

    .blue-button {
      display: none;
    }

    .hide-when-done {
      display: none;
    }
  }

  .text-input {
    &.good-text-input:not(:focus) {
      background: $sd-separator;
      border-color: transparent;
      border-radius: 1px;
    }
  }
}

.text-input {
  box-sizing: border-box;
  margin-top: 10px;
  outline: 0;
  height: 45px;
  width: 95%;
  border-radius: 2px;
  border: 2px solid $sd-separator;
  font-size: 16px;
  padding-left: 10px;
  color: $sd-text;

  &:focus {
    border-color: $sd-running;
  }

  &::-webkit-input-placeholder {
    color: $sd-text-med;
  }

  &:-moz-placeholder {
    color: $sd-text-med;
  }

  &::-moz-placeholder {
    color: $sd-text-med;
  }

  &:-ms-input-placeholder {
    color: $sd-text-med;
  }

  &.bad-text-input {
    border-color: $sd-failure;
  }

  &.good-text-input {
    border-color: $sd-success;
  }
}

.blue-button {
  border: none;
  border-radius: 3px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  background: $sd-running;
  @include transition(all, 50ms);

  &:focus {
    outline: none;
  }

  &:hover {
    background: $sd-link;
  }

  &:disabled {
    background: $sd-text-med;
  }

  .saving-loading {
    display: none;
  }

  &.saving {
    .saving-loading {
      display: block;
    }

    .button-label {
      display: none;
    }
  }

  &:active {
    &:not(:disabled) {
      @include scale(0.97);
    }
  }
}

.fuji-spinner {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
}

input[type="button"] {
  outline: 0;
}

.capitalize {
  text-transform: capitalize;
}
