<div class="step-header">
  <div class="step-line"></div>
  <div class="step-number">
    <span>{{step}}</span>
    {{fa-icon "fa-check"}}
  </div>
  <div class="step-title">{{title}}</div>
</div>
<div class="step-content">
  {{yield}}
</div>
