<div class={{this.styleNamespace}} ...attributes>
  <div class="history">
    <div>
      {{#each this.builds as |build|}}
        {{#if (not-eq build.status "CREATED")}}
          {{#link-to "pipeline.build" build.id title=build.id}}
            {{fa-icon "circle" fixedWidth=true class=build.status}}
          {{/link-to}}
        {{else}}
          {{fa-icon "circle" fixedWidth=true class=build.status}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>