@use 'variables';

@mixin styles {
  $pipeline-tab-height: variables.$pipeline-tab-height;

  display: grid;

  grid-template-areas:
    'pipeline-tab'
    'pipeline-workflow-events';
  grid-template-rows: $pipeline-tab-height calc(100% - $pipeline-tab-height);

  #pipeline-tab {
    grid-area: pipeline-tab;
  }

  #pipeline-workflow-container {
    grid-area: pipeline-workflow-events;
  }
}
