@mixin backgroundGradient($start, $end) {
  background: -webkit-linear-gradient(to right, $start, $end);
  background: -o-linear-gradient(to right, $start, $end);
  background: -moz-linear-gradient(to right, $start, $end);
  background: linear-gradient(to right, $start, $end);
}

& {
  background: url('/assets/main_bkgrd_home.png') transparent;
  background-size: cover;
}

.topBar {
  height: 45px;
  padding: 5px 25px 0;
}

.logo {
  display: inline-block;
  width: 40px;
  height: 40px;

  img {
    width: inherit;
    height: inherit;
  }
}

.icon {
  display: inline-block;
  height: 40px;
  width: 60px;
  color: #fff;
  text-decoration: none;
  vertical-align: top;
  opacity: 0.7;

  .img {
    margin-left: 17.5px;
    fill: #fff;
    height: 20px;
    width: 20px;
    display: block;
    opacity: 0.7;
    margin-bottom: 2px;
  }

  span {
    text-align: center;
    display: block;
    font-size: 14px;
  }
}

.icon:hover, .icon.active {
  opacity: 1;
  .img {
    opacity: 1;
  }
}

.right {
  float: right;
  text-align: right;
}

.search {
  opacity: 0.36;
  margin-top: 4px;
  display: none;
  vertical-align: top;
  width: 400px;
  height: 32px;
  background: #fff;
  margin-left: 10px;
  border: 1px solid #d8dade;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 15px;
  overflow: hidden;
  font-weight: 300;
  @include transition(background, 200ms);

  form {
    display: inline-block;
    height: 100%;
    width: 265px;
  }

  input {
    border: none;
    outline: none;
    height: 100%;
    width: 335px; // 265 if category
    line-height: 32px;
    margin-left: 20px; // 5 if category
    background: transparent;
  }

  .search-icon {
    height: 100%;
    float: right;
    width: 32px;
    line-height: 32px;
    text-align: center;
    color: #555;
    font-size: 20px;
    cursor: pointer;
  }
}

.search-focused {
  border: 1px solid #888;
  opacity: 1;
}
