& {
  .logo {
    display: inline-block;
    height: 34px;
    padding: 9px 0 0 30px;

    .img {
      width: inherit;
      height: inherit;
    }
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: $grey-800;
    border-color: $grey-800;
  }

  .navbar-form {
    white-space: nowrap;
    border-width: 0;
    box-shadow: none;
    font-size: 0;

    input {
      @include transition(background, 200ms);
      background: transparent;
      background: $sd-search-highlight;
      color: $sd-white;
      border: none;
      border-bottom: solid transparent;
      box-sizing: border-box;
      display: inline-block;
      font-size: 14px;
      height: 36px;
      line-height: 32px;
      margin-left: 10px;
      outline: none;
      width: 326px;
      padding-left: 5px;
      vertical-align: middle;
    }

    input::placeholder {
      color: $sd-search-placeholder;
    }

    input:focus {
      border: none;
      border-bottom: solid $sd-active-hl;
    }

    input:focus::placeholder {
      color: $sd-white;
    }

    button {
      vertical-align: middle;
      border-radius: 0 2px 2px 0;
      border-left: none;
      padding-left: 0;
      height: 37px;
      width: 38px;
      color: $sd-white;
      background: $sd-button-gradient-end; // For browsers that do not support gradients
      background: -webkit-linear-gradient(right top, $sd-button-gradient-start, $sd-button-gradient-end); // For Safari 5.1 to 6.0
      background: -o-linear-gradient(bottom left, $sd-button-gradient-start, $sd-button-gradient-end); // For Opera 11.1 to 12.0
      background: -moz-linear-gradient(bottom left, $sd-button-gradient-start, $sd-button-gradient-end); // For Firefox 3.6 to 15
      background: linear-gradient(to bottom left, $sd-button-gradient-start, $sd-button-gradient-end); // Standard syntax
      border-style: none;

      .fa {
        font-size: 15px;
        padding-left: 5px;
      }

      &:hover {
        opacity: .9;
      }
    }
  }

  .navbar-default .navbar-nav > li > a.icon {
    color: $sd-white;
    text-decoration: none;
    line-height: 20px;

    .img {
      vertical-align: middle;
      fill: $sd-white;
      height: 20px;
      width: 20px;
    }

    .icontitle {
      display: inline;
    }

    &:hover,
    &.active {
      .img,
      .icontitle {
        opacity: .6;
      }
    }
  }

  .tooltips {
    display: none;
  }

  .dropdown  {
    padding: 15px;

    .dropdown-toggle:hover {
      opacity: .6;
    }

    a {
      color: $sd-white;
      text-decoration: none;
      display: inline-block;

      .img {
        vertical-align: middle;
        fill: $sd-white;
        height: 20px;
        width: 20px;
        display: inline-block;
      }
    }

    &.open a,
    &.open a:focus,
    &.open a:hover {
      background-color: transparent;
    }
  }

  .dropdown-menu > li > a {
    span {
      padding-left: .5em;
    }
  }

  .dropdown-menu > li > span.title {
    display: none;
  }

  .dropdown-menu > li > a.active {
    pointer-events: none;
  }

  .dropdown-menu > li > a.active > span {
    font-size: 12px;
    color: $sd-text-light;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $sd-white;

    &:hover {
      color: $sd-white;
      opacity: .6;
    }
  }

  .banner {
    margin-bottom: 2px;
  }

  .banner .fa {
    padding-right: 7px;
    font-size: 20px;
  }
}

@media screen and (min-width: 880px) {
  .navbar-default .navbar-nav > li > a.icon .icontitle,
  .navbar-default .navbar-nav > li > div.dropdown .icontitle {
    display: none;
  }

  .tooltips {
    display: block;
  }

  .dropdown-menu > li {
    white-space: nowrap;
    line-height: 20px;
  }

  .dropdown-menu > li > span.title {
    display: block;
    padding: 5px 0 5px 20px;
    font-weight: $weight-bold;
  }

  .dropdown-menu > li > a.active {
    pointer-events: none;
  }

  .dropdown-menu > li > a.active > span {
    font-size: 12px;
    color: $sd-text-light;
  }

  .dropdown-menu > li > a {
    color: $sd-link;
    display: block;

    .img {
      fill: $sd-text;
    }
  }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: $sd-highlight;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $sd-text;

    &:hover {
      color: $sd-text;
      opacity: 1;
      background-color: $sd-highlight;
    }
  }
}
