& {
  .logo {
    display: inline-block;
    height: 34px;
    padding: 9px 0 0 30px;

    .img {
      width: inherit;
      height: inherit;
    }
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #05121C;
    border-color: #05121C;
  }

  .navbar-form {
    white-space: nowrap;
    border-width: 0px;
    box-shadow: none;
    font-size: 0;

    input {
      background: transparent;
      background: rgba(242, 242, 242, 0.1);
      color: #fff;
      border: none;
      box-sizing: border-box;
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      height: 36px;
      line-height: 32px;
      margin-left: 10px;
      outline: none;
      width: 326px;
      padding-left: 5px;
      @include transition(background, 200ms);
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    input:focus {
      border-bottom: solid #3570f4;
    }

    input:focus::placeholder {
      color: rgba(255, 255, 255, 1);
    }

    button {
      margin-top: 1px;
      border-radius: 0 2px 2px 0;
      border-left: 0;
      padding-left: 0;
      height: 36px;
      width: 38px;
      color: rgba(255, 255, 255, 1);
      background: #3697F2; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(right top, #3570F4, #3697F2); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom left, #3570F4, #3697F2); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom left, #3570F4, #3697F2); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom left, #3570F4, #3697F2); /* Standard syntax */
      border-style: none;

      .fa {
        font-size: 15px;
        font-weight: 300;
        padding-left: 5px;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .navbar-default .navbar-nav > li > a.icon {
    color: #fff;
    text-decoration: none;

    .img {
      fill: rgba(255, 255, 255, 1);
      height: 20px;
      width: 20px;
    }

    .icontitle {
      display: inline;
    }

    &:hover, &.active {
      .img, .icontitle {
        opacity: 0.6;
      }
    }
  }
  .tooltips {
    display: none;
  }
}

@media screen and (min-width: 962px) {
  .navbar-default .navbar-nav > li > a.icon .icontitle {
    display: none;
  }

  .tooltips {
    display: block;
  }
}
