& {
  .logo {
    display: inline-block;
    height: 34px;
    padding: 0 0 0 30px;

    .img {
      width: inherit;
      height: inherit;
    }
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: $grey-800;
    border-color: $grey-800;
    height: $app-header-height;

    @media screen and (max-width: 992px) {
      min-height: $app-header-height;
      height: unset;
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    color: $sd-white;
    padding: 10px 15px;
  }

  .search-button {
    fill: $sd-white;
    padding: 0px;

    .img {
      transform: scale(0.5);
    }
  }

  .navbar-form {
    white-space: nowrap;
    border-width: 0;
    box-shadow: none;
    font-size: 0;

    input {
      @include transition(background, 200ms);
      background: transparent;
      background: $sd-search-highlight;
      color: $sd-white;
      border: none;
      border-bottom: solid transparent;
      box-sizing: border-box;
      display: inline-block;
      font-size: 14px;
      height: 36px;
      line-height: 32px;
      margin-left: 10px;
      outline: none;
      width: 326px;
      padding-left: 5px;
      vertical-align: middle;
    }

    input::placeholder {
      color: $sd-search-placeholder;
    }

    input:focus {
      border: none;
      border-bottom: solid $sd-active-hl;
    }

    input:focus::placeholder {
      color: $sd-white;
    }

    button {
      vertical-align: middle;
      border-radius: 0 2px 2px 0;
      border-left: none;
      padding-left: 0;
      height: 37px;
      width: 38px;
      color: $sd-white;
      background: $sd-button-gradient-end; // For browsers that do not support gradients
      background: -webkit-linear-gradient(
        right top,
        $sd-button-gradient-start,
        $sd-button-gradient-end
      ); // For Safari 5.1 to 6.0
      background: -o-linear-gradient(
        $sd-button-gradient-start,
        $sd-button-gradient-end
      ); // For Opera 11.1 to 12.0
      background: -moz-linear-gradient(
        bottom left,
        $sd-button-gradient-start,
        $sd-button-gradient-end
      ); // For Firefox 3.6 to 15
      background: linear-gradient(
        to bottom left,
        $sd-button-gradient-start,
        $sd-button-gradient-end
      ); // Standard syntax
      border-style: none;

      svg {
        font-size: 15px;
        padding-left: 5px;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .nav-item > a {
    color: $sd-white;

    .img {
      vertical-align: middle;
      fill: $sd-white;
      height: 20px;
      width: 20px;
    }

    .icontitle {
      display: inline;
    }

    &:hover,
    &.active {
      .img,
      .icontitle {
        opacity: 0.6;
      }
    }

    &.profile-outline {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  .dropdown {
    .img {
      vertical-align: middle;
      height: 20px;
      width: 20px;
      display: inline-block;
    }

    &.open a,
    &.open a:focus,
    &.open a:hover {
      background-color: transparent;
    }
  }

  .dropdown-item {
    padding: 10px 15px;
  }

  .dropdown-item > a {
    span {
      padding-left: 0.5em;
    }
  }
  .dropdown-item > a.active {
    pointer-events: none;
  }

  .dropdown-item > a.active > span {
    font-size: 12px;
    color: $sd-text-light;
  }

  .dropdown-item > span.title {
    display: none;
  }

  .dropdown-item > a.release {
    pointer-events: none;
  }

  .dropdown-submenu {
    position: relative;
    padding: 10px 15px;
    &:hover {
      & > ul.dropdown-menu {
        display: block;

        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
}

@media screen and (min-width: 880px) {
  .tooltips {
    display: block;
  }

  .dropdown-menu > li {
    white-space: nowrap;
    line-height: 20px;
  }

  .dropdown-menu > span.title {
    display: block;
    padding: 5px 0 5px 20px;
    font-weight: $weight-bold;
  }

  .dropdown-menu > a.active {
    pointer-events: none;
    background-color: $sd-white;
    color: $sd-text;
  }

  .dropdown-menu > a.active > span {
    font-size: 12px;
    color: $sd-text-light;
  }

  .dropdown-menu > a.release {
    pointer-events: none;
  }
}
