<header class="page-header">
  <a href="http://cd.screwdriver.cd/"><div class="logo">
    <img src="/assets/screwdriver.png" alt="screwdriver-logo"/>
  </div></a>
  <div class="search">
    <div class="category" title="coming soon!">
      All <span class="icon icon-arrow_down"></span>
    </div>
    <form class="search-form" action="#search" method="GET">
      {{input class="search-input" name="query" placeholder="Enter your search terms" focus-in="onFocus" focus-out="onBlur"}}
    </form>
    <div class="search-icon">
      <span class="icon icon-search"></span>
    </div>
  </div>
</header>
