@mixin styles {
  .history-cell {
    display: flex;
    max-width: 9rem;
    overflow: scroll;

    .build-history-container {
      padding: 1rem 0;

      a,
      .created {
        display: flex;

        svg {
          margin: auto;
        }
      }

      .tooltip {
        p {
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}
