@mixin styles {
  .history-cell {
    display: flex;
    margin-right: 1rem;
    overflow: auto;

    .build-history-container {
      a,
      .created {
        display: flex;
        align-items: center;
      }

      .tooltip {
        p {
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}
