@use 'variables';
@use 'screwdriver-colors' as colors;
@use 'screwdriver-button' as button;
@use 'screwdriver-toggle' as toggle;

@use 'event-rail/styles' as event-rail;
@use 'graph/styles' as graph;
@use 'tooltip/styles' as tooltip;

@mixin styles {
  #pipeline-workflow-container {
    @include button.styles;

    display: grid;
    $events-rail-width: 26rem;

    grid-template-areas: 'events workflow';
    grid-template-columns: $events-rail-width calc(100% - $events-rail-width);
    grid-template-rows: 100%;

    @include event-rail.styles;

    #event-card-rail {
      grid-area: events;
    }

    #workflow-display-container {
      grid-area: workflow;
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding-right: 1rem;

      #workflow-display-controls {
        display: flex;
        align-content: center;
        padding-left: 1rem;
        height: 2.5rem;

        #show-workflow-graph-button,
        #show-workflow-table-button {
          display: flex;

          svg {
            margin: auto;
          }

          &:disabled {
            background: colors.$sd-pale-purple;
          }
        }

        #show-workflow-graph-button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        #show-workflow-table-button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          translate: -1px;
        }

        .downstream-triggers-container {
          margin-left: 1rem;
          display: flex;

          @include toggle.styles;
        }
      }

      #pr-restrictions {
        display: flex;
        height: 2.5rem;
        margin-left: 1rem;
        color: hsl(from colors.$sd-warning h s 40%);
        background-color: rgba(colors.$sd-warning, 0.25);

        .restriction-message {
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 1rem;
          margin-right: 0.25rem;
        }

        svg {
          margin-top: auto;
          margin-bottom: auto;

          &.restriction-icon-container {
            width: 1rem;
            height: 1rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
          }
        }
      }

      #display-container {
        position: relative;
        flex: 1;
        padding-top: 1rem;
        overflow: auto;

        #workflow-graph {
          height: 100%;

          svg {
            min-width: 100%;
            min-height: 100%;
          }
        }

        @include graph.styles;
        @include tooltip.styles;
      }
    }

    #no-events,
    #invalid-event {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      font-weight: variables.$weight-bold;
    }
  }
}
