.collection-view {
  overflow-y: scroll;
  height: calc(100vh - 56px);

  button {
    border: none;

    &:focus {
      outline: none;
    }
  }

  .header {
    color: $sd-text;
    padding: 25px 25px 0;

    // sass-lint:disable class-name-format
    &__name {
      font-weight: bold;
      font-size: 28px;
    }

    &__organize {
      margin-top: 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      span {
        margin-right: 20px;
      }

      button {
        margin-right: 10px;
        padding: 3px 8px;
        border: solid 1px #ccc;

        &.operation-button {
          background-color: #d9e2fb;
          color: #63a4ee;
          border: solid 1px #d9e2fb;

          &:hover {
            background: rgb(185, 204, 245);
          }
        }
      }
    }

    &__change-view {
      margin-top: 2.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        background: #d9e2fb;
        border: #d9e2fb 1px solid;
        padding: 6px 8px;
        box-shadow: none;

        &:focus,
        &.active {
          outline: none;
          background: #fff;
          border: #4375ec 1px solid;
          box-shadow: none;

          .img {
            fill: #000;
          }
        }

        &:nth-of-type(1):hover {
          border-right: #4375ec 1px solid;
        }

        &:nth-of-type(2):hover {
          border-left: #4375ec 1px solid;
        }

        .img {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          fill: #63a4ee;
        }
      }
    }
    // sass-lint:enable class-name-format
  }

  .edit-icon {
    display: none;
    padding-left: 5px;
  }

  .edit-area {
    resize: none;
    position: relative;
    width: 100%;
  }

  .edit-area-name {
    font-size: 30px;
    margin: 20px 0 2px 0;
    width: 100%;
  }

  .name-edit {
    text-align: right;
  }

  .save-name {
    margin-bottom: 5px;
  }

  .save {
    float: right;
  }

  .move-left {
    padding-left: 0;
  }

  .header__description:hover .edit-icon {
    display: inline;
  }

  .header__name {
    display: inline-block;
  }

  .header__name:hover .edit-icon {
    display: inline;
    font-size: 15px;
  }

  .collection-operation {
    margin-left: 8px;
    cursor: pointer;

    .img {
      width: 20px;
      height: 20px;
      fill: #96c4e9;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $sd-link;
  }

  .collection-pipeline__choose {
    width: 3%;
    text-align: center;
  }

  .app-id {
    width: 22%;
  }

  .branch {
    width: 15%;
  }

  .status {
    width: 10%;

    a {
      display: inline;
    }
  }

  .start {
    width: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .duration {
    width: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .history {
    width: 25%;
    padding: 5px;
  }

  tbody tr:hover {
    background-color: #ecf1fd;

    .name {
      text-decoration: underline;
    }
  }

  th {
    font-size: 0.9em;
    text-transform: uppercase;
    color: $sd-text-med;
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid $sd-text-light;
    text-align: left;
  }

  .collection-list-view {
    padding: 25px;
  }

  .collection-card-view {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &::after {
      content: '';
      flex: auto;
    }
  }

  .collection-empty-view {
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: center;

    .guide {
      width: 500px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .guide-image {
        width: 360px;
      }

      .guide-text {
        width: 100%;
        text-align: center;
      }

      .guide-buttons {
        margin-top: 10px;

        a {
          display: inline-block;
        }

        .guide-create-pipeline-button {
          background-image: linear-gradient(to right, #4f97eb, #4073ec);
          color: #fff;
        }

        .guide-docs-button {
          background-color: #e2eefb;
          color: #589eec;
          margin-left: 10px;
        }
      }
    }
  }

  .pipeline-card {
    width: 33.33%;
    padding: 20px;
    position: relative;
  }

  // sass-lint:disable class-name-format
  .collection-pipeline__remove {
    opacity: 0;
    cursor: pointer;
    font-size: 1.5em;
    width: 5%;
    text-align: center;
  }

  // When collection-pipeline is hovered on, show remove button
  .collection-pipeline:hover .collection-pipeline__remove {
    opacity: 1;
  }
  // sass-lint:enable class-name-format

  .build-running {
    color: $sd-running;
  }

  .build-success {
    color: $sd-success;
  }

  .build-failure {
    color: $sd-failure;
  }

  .build-unstable {
    color: $sd-unstable;
  }

  .description-placeholder {
    opacity: 0.5;
  }
}

@media (max-width: 47.999em) {
  & {
    width: 100%;
  }
}
