& {
  .header {
    color: $sd-text;
    padding: 0 25px;

    // sass-lint:disable class-name-format
    &__sort-pipelines {
      margin-top: 2.5rem;
    }
    // sass-lint:enable class-name-format
  }

  a {
    display: block;
    text-decoration: none;
    color: $sd-link;
  }

  .app-id {
    text-align: left;
    width: 30%;
  }

  .branch {
    width: 15%;
    text-align: right;
  }

  .account {
    text-align: left;
    white-space: nowrap;
  }

  .prs {
    border-bottom: none;

    &--failing {
      color: $sd-failure;
    }
  }

  tbody tr:hover {
    background-color: $sd-separator;

    .name {
      text-decoration: underline;
    }
  }

  th {
    font-size: .9em;
    text-transform: uppercase;
    color: $sd-text-med;
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid $sd-text-light;
  }

  .collection-table {
    padding: 25px;
  }

  // sass-lint:disable class-name-format
  .collection-pipeline__remove {
    opacity: 0;
    cursor: pointer;
    font-size: 1.5em;
  }

  // When collection-pipeline is hovered on, show remove button
  .collection-pipeline:hover .collection-pipeline__remove {
    opacity: 1;
  }
  // sass-lint:enable class-name-format
}

@media (max-width: 47.999em) {
  & {
    width: 100%;
  }
}
