& {
  .header {
    color: $sd-text;
    padding: 0 25px;

    // sass-lint:disable class-name-format
    &__sort-pipelines {
      margin-top: 2.5rem;
    }
    // sass-lint:enable class-name-format
  }

  .edit-icon {
    display: none;
    padding-left: 5px;
  }

  .edit-area {
    resize: none;
    position: relative;
    width: 100%;
  }

  .edit-area-name {
    font-size: 30px;
    margin: 20px 0 2px 0;
    width: 100%;
  }

  .name-edit {
    text-align: right;
  }

  .save-name {
    margin-bottom: 5px;
  }

  .save {
    float: right;
  }

  .move-left {
    padding-left: 0;
  }

  .header__description:hover .edit-icon {
    display: inline;
  }

  .header__name {
    display: inline-block;
  }

  .header__name:hover .edit-icon {
    display: inline;
    font-size: 15px;
  }

  a {
    display: block;
    text-decoration: none;
    color: $sd-link;
  }

  .app-id {
    width: 25%;
  }

  .branch {
    width: 15%;
  }

  .status {
    width: 10%;
  }

  .start {
    width: 10%;
  }

  .duration {
    width: 10%;
  }

  .history {
    width: 25%;
    padding: 5px;
  }

  tbody tr:hover {
    background-color: $sd-separator;

    .name {
      text-decoration: underline;
    }
  }

  th {
    font-size: 0.9em;
    text-transform: uppercase;
    color: $sd-text-med;
  }

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid $sd-text-light;
    text-align: left;
  }

  .collection-table {
    padding: 25px;
  }

  // sass-lint:disable class-name-format
  .collection-pipeline__remove {
    opacity: 0;
    cursor: pointer;
    font-size: 1.5em;
    width: 5%;
    text-align: center;
  }

  // When collection-pipeline is hovered on, show remove button
  .collection-pipeline:hover .collection-pipeline__remove {
    opacity: 1;
  }
  // sass-lint:enable class-name-format

  .build-running {
    color: $sd-running;
  }

  .build-success {
    color: $sd-success;
  }

  .build-failure {
    color: $sd-failure;
  }

  .build-unstable {
    color: $sd-unstable;
  }

  .description-placeholder {
    opacity: 0.5;
  }
}

@media (max-width: 47.999em) {
  & {
    width: 100%;
  }
}
