<div class="row header">
  <h4 class="title">Pipeline</h4>
  {{#power-select
    search=(action "handleSearch")
    searchField="name"
    searchEnabled=true
    searchPlaceholder="Search pipeline..."
    selected=selectedPipeline
    onChange=(action "handleSelectedPipeline")
    as |repo|
  }}
    {{repo.name}}
  {{/power-select}}
</div>

<div class="row results">
  <h4 class="title">Connected Pipelines</h4>
  {{#each connectedPipelines as |pipeline|}}
    {{pipeline-viz-row
      pipeline=pipeline
      selectedPipeline=selectedPipeline
      selectedConnectedPipeline=selectedConnectedPipeline
      onClick=(action "handleSelectedConnectedPipeline")
      onActionClick=(action "handleSelectedPipeline")}}
  {{/each}}
</div>