@use 'screwdriver-colors' as colors;
@use 'variables';

@mixin styles {
  #secrets-and-tokens-tab {
    display: flex;
    align-items: center;

    ul {
      border: none;

      li {
        cursor: pointer;
        color: colors.$sd-text-med;
        padding: 0.5rem 2rem;

        &.active {
          color: colors.$sd-link;
          font-weight: variables.$weight-bold;
          border-bottom: 0.2rem solid colors.$sd-link;
        }
      }
    }
  }
}
