@use 'table/styles' as table;

@mixin styles {
  #pipeline-settings-jobs-tab-contents {
    height: 100%;

    $section-height: 8rem;

    .section {
      height: $section-height;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .toggle-buttons-container {
        display: flex;
        margin: 0 1rem;

        #disable-jobs-button {
          margin-left: 0.5rem;
        }
        #cancel-toggle-jobs-button {
          margin-left: auto;
        }
      }
    }

    #jobs-table {
      $jobs-table-margin: 1rem;
      height: calc(100% - $section-height - (2 * $jobs-table-margin) - 1rem);
      margin: 0 $jobs-table-margin;

      @include table.styles;
    }
  }
}
