& {
  margin-bottom: 2em;
  margin-left: 10px;

  a {
    color: $brand-600;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
  }

  thead tr {
    border-bottom: 1px solid $sd-text-light;
  }

  th {
    font-size: 12px;
    text-transform: uppercase;
    color: $sd-text-med;

    &:first-child {
      padding-left: 10px;
    }

    &.commit {
      width: 11%;
    }

    &.user {
      width: 19%;
    }

    &.created {
      width: 13%;
    }

    &.duration {
      width: 10%;
    }
  }
}
