& {
  margin-bottom: 2em;

  a {
    color: $brand-600;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
  }

  thead tr {
    border-bottom: 1px solid $sd-text-light;
  }

  th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    color: $sd-text-med;

    &.commit {
      width: 85px;
    }

    &.user {
      width: 150px;
    }

    &.created {
      width: 100px;
    }

    &.duration {
      width: 70px;
    }
  }
}
