<h2>Builds</h2>
{{#each eventsToView as |event|}}
{{pipeline-event-view event=event}}
{{/each}}
{{#unless showAll}}
{{#if events.length}}
<div class="showAll">
<a {{action "showAllEvents"}}>Show all events</a>
</div>
{{/if}}
{{/unless}}
{{yield}}