<div>
  {{#each eventsList as |event|}}
    {{pipeline-event-row
      event=event
      selectedEvent=selectedEvent
      lastSuccessful=lastSuccessful
      eventClick=(action "eventClick")
    }}
  {{else}}
    <div class="alert">No events have been run for this pipeline</div>
  {{/each}}
</div>

{{#if showMore}}
  {{#if eventsList.length}}
    <a {{action "moreClick"}} class="pull-right btn">More...</a>
  {{/if}}
{{/if}}

{{yield}}