{{template-header template=template}}

<h4>Contents:</h4>
{{validator-job name=template.name job=template.config collapsible=false}}

{{template-versions templates=templates changeVersion=(action "changeVersion")}}

{{outlet}}