& {
  background: url('/assets/main_bkgrd_home.png') transparent;
  background-size: cover;
  background-position: 0 -50px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 25px;
}

h1 {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
