& {
  background-color: $brand-100;
  color: $grey-800;
  margin: 0;
  padding: 20px 40px;
  white-space: nowrap;

  .img {
    width: 24px;
    height: 24px;
  }

  a {
    color: $grey-800;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    vertical-align: middle;
  }

  a:hover,
  a:active,
  a.active {
    color: $grey-800;
  }

  .pipeline-header-message-container {
    margin-top: -10px;
  }

  .header-items-container {
    display: flex;

    .header-item {
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 3px;
      padding-right: 3px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        flex-grow: 1;
        display: flex;
        justify-content: right;
      }

      .pipeline-name {
        font-size: 24px;
        font-weight: $weight-bold;
      }

      &.branch-item {
        max-width: 20rem;

        svg {
          margin-top: auto;
          margin-bottom: auto;
        }

        .branch {
          padding-left: 0.25rem;
          overflow: auto;
        }

        .dropdown-toggle {
          display: flex;
          justify-content: space-between;

          &::after {
            margin-top: auto;
            margin-bottom: 0.75rem;
          }
        }
      }

      .branch-dropdown {
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
        max-width: 40rem;
        max-height: calc(100vh - 120px);

        .branch-item {
          padding: 1px 0;

          a:hover {
            background-color: #d1edff;
          }

          .img {
            width: 10px;
            height: 10px;
          }
        }
      }

      .sonarqube {
        height: 14px;
      }

      .toggler-text {
        color: #3697f2;
      }
    }

    #switch-ui {
      margin-left: 1rem;

      &:hover:not(:disabled) {
        color: $sd-running;
        background-color: rgba($sd-running, 0.1);
      }
    }
  }
}
