& {
  background-color: $brand-100;
  color: $grey-800;
  min-height: 50px;
  margin: 0;
  padding: 20px 25px;
  white-space: nowrap;
}

.toggler-text {
  color: #3697f2;
}

&.is-build-page {
  background-color: $sd-white;
}

h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: $weight-bold;
}

a {
  color: $grey-800;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
}

a:hover,
a:active,
a.active {
  color: $grey-800;
}

.collection-dropdown {
  position: absolute;
  right: 25px;
  display: inline;
}

.branch-move {
  padding-right: 6px;
}

.branch-item {
  padding: 1px 0px;
}

.branch-item a:hover {
  background-color: #d1edff;
}

.dropdown {
  display:inline-block;
}