<div class="metrics-cell">
  {{#if @record.build}}
    <LinkTo
      @route="pipeline.metrics"
      @model={{@record.job.pipelineId}}
      @query={{hash jobId=@record.job.id}}
    >
      <FaIcon
        @icon="chart-line"
        @fixedWidth="true"
        @title="Job metrics"
      />
    </LinkTo>
  {{/if}}
</div>
