<label class="toggle-use-root-dir">
  <Input
    class="checkbox-input toggle-use-root-dir"
    @type="checkbox"
    @name="hasRootDir"
    @checked={{this.hasRootDir}}
  />
  My source directory is not at the checkout root
</label>
{{#if this.hasRootDir}}
  <div>
    <Input
      class="text-input root-dir"
      placeholder="Enter your source directory path relative to the checkout URL (eg: src)"
      @value={{this.rootDir}}
      {{on "keyup" (fn @updateRootDir this.rootDir)}}
    />
  </div>
{{/if}}
