<div class={{this.styleNamespace}} ...attributes>
  {{#each this.banners as |banner|}}
    <div class="banner">
      <BsAlert @type={{banner.type}}>
        {{fa-icon
          (if (eq banner.type "info") "info-circle" "exclamation-triangle")
        }}
        {{! template-lint-disable no-triple-curlies }}
        <span>{{{banner.message}}}</span>
      </BsAlert>
    </div>
  {{/each}}
</div>