
<!-- {{ember-jstree
    data=listdata.content
}} -->

{{#each banners as |banner|}}

<div class="banner-alert">
  {{#bs-alert type=type}}
    {{fa-icon "exclamation-triangle"}}
    <span>{{banner.message}}</span>
  {{/bs-alert}}
</div>

{{/each}}
