{{#each this.banners as |banner|}}
  <div class="banner">
    <BsAlert @type={{banner.type}}>
      <div class="banner-message-container">
        <FaIcon
          @icon={{if
            (eq banner.type "info")
            "circle-info"
            "triangle-exclamation"
          }}
        />
        <div class="banner-message">
          <span>
            {{{input-sanitizer banner.message}}}
          </span>
        </div>
      </div>
    </BsAlert>
  </div>
{{/each}}