<article class="template">
  <header>
      {{#link-to "templates.detail" template.fullName}}<h4>{{template.fullName}}</h4>{{/link-to}}
  </header>
  <p class="description">
    {{template.description}}
  </p>
</article>
