<article class="template">
  <header>
    {{#link-to "templates.detail" template.name}}<h4>{{template.name}}</h4>{{/link-to}}
  </header>
  <p class="description">
    {{template.description}}
  </p>
</article>