& {
  .banner .alert {
    height: $nav-banner-height;
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
  }

  .banner .alert-warn {
    background: $sd-warn-bg;
    color: $sd-warn-fg;
  }

  .banner .alert-info {
    background: $sd-info-bg;
    color: $sd-info-fg;
  }

  .banner {
    svg {
      padding-right: 7px;
      font-size: 20px;
    }

    .banner-message-container {
      height: 2.25rem;

      display: flex;
      align-content: center;

      .banner-message {
        overflow-y: scroll;
      }
    }
  }
}
