<BsModal
  id="stop-build-modal"
  @onHide={{fn @closeModal}}
  as |modal|
>
  <modal.header>
    <div class="modal-title">
      Stop the build
    </div>
  </modal.header>
  <modal.body>
    {{#if this.errorMessage}}
      <InfoMessage
        @message={{this.errorMessage}}
        @type="warning"
        @icon="triangle-exclamation"
        @dismissible={{false}}
      />
    {{/if}}
    Are you sure you want to stop the build?
  </modal.body>
  <modal.footer>
    <BsButton
      id="stop-build"
      @type="primary"
      @defaultText="Yes"
      @pendingText="Stopping"
      @onClick={{fn this.stopBuild}}
    />
  </modal.footer>
</BsModal>
