@use 'screwdriver-colors' as colors;
@use 'variables';

@mixin styles {
  #add-to-collection-modal {
    &.modal {
      .modal-dialog {
        max-width: 30rem;

        .modal-body {
          .modal-title {
            font-size: 1.25rem;
            font-weight: variables.$weight-bold;
            padding-bottom: 0.75rem;
          }

          .create-new-collection {
            label {
              display: flex;
              justify-content: space-between;

              > div {
                margin: auto;
                padding-right: 0.25rem;
                width: 6rem;
              }

              input {
                flex: 1;
                border-radius: 4px;
                border: 1px solid colors.$sd-text-med;
                padding-left: 0.5rem;
                margin-left: 0.25rem;
              }
            }
          }

          .select-collections {
            max-height: 10rem;
            overflow: auto;

            .btn-group {
              display: flex;
              flex-direction: column;

              > .btn {
                border-radius: 3px;
                margin: 0.25rem;

                &.active {
                  background-color: rgba(colors.$sd-running, 0.75);
                  color: colors.$sd-white;
                }
              }
            }
          }
        }

        #submit-collections {
          width: 15rem;
        }
      }
    }
  }
}
