& {
  .template-label {
    margin: 0 5px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: $sd-light-blue;
    color: $sd-white;
  }

  .template-details--item > div {
    display: inline-block;
  }

  .template-details--label {
    width: 10em;
    float: left;
    font-weight: bold;
    vertical-align: text-top;
  }

  .template-details--value {
    margin-left: 10px;
  }
}
