& {
  .header {
    display: flex;

    .danger {
      color: $sd-failure;
    }
    .danger:hover {
      text-decoration: none;
    }
  }

  .template-label {
    margin: 0 5px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: $sd-light-blue;
    color: $sd-white;
  }

  .template-details--item > div {
    display: inline-block;
  }

  .template-details--label {
    width: 10em;
    float: left;
    font-weight: bold;
    vertical-align: text-top;
  }

  .template-details--value {
    margin-left: 10px;
  }

  .template-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .template-version {
    margin: 0;
  }

  .template-metrics {
    font-size: 1.5em;
    margin: 0;
  }

  .trusted {
    fill: #16c047;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    font-size: 36px;
  }

  .clickable {
    cursor: pointer;
  }

  .trusted.distrusted {
    fill: $sd-text-med;
  }

  .link {
    color: #337ab7;
    font-size: 26px;
  }

  .trash-icon,
  .branch-icon {
    font-size: 22px;
    padding-left: 2px;
  }

  .stack {
    border-left: 1px solid $grey-400;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding-left: 5px;

    .stack-item {
      flex-grow: 1;

      .stack-label {
        color: #232a31;
        font-weight: 600;
        padding-left: 5px;
      }
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
