& {
  .template-label {
    margin: 0 5px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: $sd-light-blue;
    color: $sd-white;
  }

  .template-details--item > div {
    display: inline-block;
  }

  .template-details--label {
    width: 10em;
    float: left;
    font-weight: bold;
    vertical-align: text-top;
  }

  .template-details--value {
    margin-left: 10px;
  }

  .template-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .template-version {
    margin: 0;
  }

  .template-metrics {
    font-size: 1.5em;
    margin: 0;
  }

  .trusted {
    fill: #16c047;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }

  .x-toggle-component {
    display: inline-flex;
    font-size: 0.5em;
    float: right;
  }

  .x-toggle-container {
    font-size: 0.75rem;
  }
}
