<div class="row">
  <div class="col-md-2" style="background:white;min-height: calc(100vh - 56px);">
    {{pipeline-viz-nav
      selectedPipeline=selectedPipeline
      selectedConnectedPipeline=selectedConnectedPipeline
      pipelines=pipelines
      connectedPipelines=connectedPipelines
      onSearchPipeline=(action "searchPipeline")
      onSelectPipeline=(action "selectPipeline")
      onClickConnectedPipeline=(action "selectConnectedPipeline")
    }}
  </div>
  <div class="col-md-10">
    {{pipeline-viz-chart pipelines=pipelines pipeline=selectedConnectedPipeline}}
  </div>
</div>