& {
  height: calc(100vh - $app-header-height);
  display: flex;
  flex-direction: column;

  #appContainer {
    flex: 1;
    min-height: calc(100% - $banners-height);
    max-height: 100%;

    &.pipeline-page {
      display: flex;
      flex-direction: column;
      min-width: 900px;
    }
  }
}
