& {
  margin: 10px 0;

  .token-descripton {
    color: $sd-text-med;
    padding-left: 4px;
  }
  table {
    width: 100%;
  }

  section {
    border-radius: 5px 5px 0 0;
    padding: 25px;
  }

  tbody tr,
  tfoot tr {
    border: 1px solid $sd-text-light;
  }

  th {
    color: $sd-text-med;
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;
  }

  .new {
    td {
      padding: 5px;
    }
    .last-used {
      max-width: 100px;
    }
    .actions {
      color: $sd-running;
    }
  }

  tfoot button:disabled {
    background-color: inherit;
    color: inherit;
  }

  tfoot {
    border: 1px solid $sd-separator;
    padding: 10px 0px;
  }

  .new-token {
    display: inline-block;

    & .new-name {
      font-weight: $weight-bold;
    }

    & .new-value {
      color: $sd-text-med;
    }
  }

  .token-name,
  .token-description {
    width: 30%;
    max-width: 200px;
  }

  .name,
  .description {
    width: 30%;
    max-width: 200px;
    input {
      max-width: 200px;
    }
  }

  .last-used,
  .actions {
    width: 20%;
    max-width: 100px;
  }

  .add {
    cursor: pointer;
    border: 1px solid $sd-running;
    border-radius: 3px;
    font-size: 14px;
    height: 25px;
    padding: 0 14px;
    color: $sd-running;
    background: transparent;
  }
}
