@use 'screwdriver-colors' as colors;
@use 'variables';

@mixin styles {
  #pipeline-tab {
    display: flex;
    align-items: center;
    height: variables.$pipeline-tab-height;

    ul {
      border: none;

      li {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;

        &.active {
          border-bottom: 0.2rem solid colors.$sd-link;
        }

        a {
          color: colors.$sd-text-med;
          border: none;
          background-color: transparent;

          &.active {
            color: colors.$sd-link;
            font-weight: variables.$weight-bold;
          }
        }
      }
    }
  }
}
