& {
  min-width: max-content;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.artifact-folder-container {
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f0f0f0; // Background color on hover
    color: $sd-text-med;
  }
}

.artifact-folder-span {
  cursor: pointer;
  padding-right: 8px; /* Space between the folder name and download icon */
}

.artifact-download-icon {
  margin-left: 8px;
  cursor: pointer;
}
