@mixin backgroundGradient($start, $end) {
  background: -webkit-linear-gradient(left, $start, $end);
  background: -o-linear-gradient(right, $start, $end);
  background: -moz-linear-gradient(right, $start, $end);
  background: linear-gradient(to right, $start, $end);
}
& {
  background: url('/assets/main_bkgrd_home.png') transparent;
  background-size: cover;
  background-position: 0 -130px;
}

.pure-menu-horizontal {
  padding: 0 25px;

  &.SUCCESS {
    @include backgroundGradient(rgba(255, 0, 0, .7), transparent);
    a:hover {
      background-color: $ycolor-green-6a;
    }
  }
  &.FAILURE {
    @include backgroundGradient($ycolor-red-2b, #666);

    a:hover {
      background-color: $ycolor-red-2a;
    }
  }
}

a {
  color: #fff;
  background-color: transparent;
  border-radius: 3px 3px 0 0;
}

a.active {
  background-color: #fff;
  color: #777;
}

a.active:hover {
  background-color: #f3f3f3 !important;
}
