<div class="pure-menu pure-menu-horizontal {{build.status}}">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">{{#link-to "build.index" build.id class="pure-menu-link"}}Logs{{/link-to}}</li>
    <li class="pure-menu-item">{{#link-to "build.details" build.id class="pure-menu-link"}}Details{{/link-to}}</li>
  </ul>
</div>
