<div class="actions-cell">
  {{#if this.showTrashIcon}}
    <BsButton
      @type="primary"
      @outline={{true}}
      @onClick={{this.showDeletePipelineModal}}
    >
      <FaIcon
        @icon="trash"
      />

      {{#if this.isDeletePipelineModalOpen}}
        <Pipeline::Modal::DeletePipeline
          @pipeline={{@record.pipeline}}
          @closeModal={{this.closeDeletePipelineModal}}
        />
      {{/if}}
    </BsButton>
  {{/if}}
</div>
