& {
  border-bottom: 1px solid $sd-light-gray;
  margin-left: 10px;

  .job-info {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
  }

  &:last-of-type {
    border: none;
  }

  .icon {
    width: 1em;
    font-size: 1.5em;
  }

  .col:first-child {
    width: calc(100% / 8 * 2);
    word-wrap: break-word;
  }

  .status-icon {
    font-size: 1.7em;
  }
}
