{{#if (eq column.label "Name")}}
  {{#link-to extra.routes.detail row.content.namespace value}}
    <span class="name">
      {{value}}
    </span>
  {{/link-to}}
{{else if (eq column.label "Namespace")}}
  {{#link-to extra.routes.namespace value}}
    <span class="namespace">
      {{value}}
    </span>
  {{/link-to}}
{{/if}}
