@mixin styles {
  .job-cell {
    display: flex;
    padding-right: 2.5rem;

    .job-status {
      display: flex;
      height: 1.5rem;
      width: 1.5rem;
      margin: 1rem 0;

      a {
        display: flex;
        align-items: center;
      }
    }

    .job-name {
      padding: 1rem 0;
      text-wrap: nowrap;
      overflow: auto;
    }
  }
}
