$pipeline-graph-nav-height: 156px;

& {
  padding: 15px 0 15px 10px;
  height: $pipeline-graph-nav-height;

  strong {
    font-size: 16px;
  }

  strong,
  a {
    vertical-align: middle;
    line-height: 33px;
  }

  .btn.event__stop {
    float: right;
    border: 1px solid $sd-aborted;
    background-color: #fff;
    color: $sd-aborted;
    width: 100px;
    font-size: 14px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: $weight-normal;
    margin-left: 5px;

    &:hover,
    &.active:hover {
      border-color: #ccc;
      color: $grey-800;
    }
  }

  .view-toggle {
  }

  .btn:not(:disabled):not(.disabled) {
    border-radius: 3px;
    padding: 5px 10px;
    color: $brand-600;
    background-color: $sd-white;
    border-color: $brand-600;
    font-weight: $weight-normal;

    &:hover,
    &:focus,
    &.active,
    &.active:hover,
    &.active:focus {
      outline: none;
      box-shadow: none;
      color: $brand-600;
      background-color: $button-background;
      border-color: $brand-600;
    }

    &:hover,
    &.active:hover {
      color: $brand-700;
    }
  }

  .title {
    text-transform: uppercase;
    color: $grey-600;
    font-size: 12px;
  }

  .x-toggle-component {
    .x-toggle-container.medium {
      width: auto;
    }

    label {
      margin-bottom: 0;
    }

    .x-toggle-btn {
      cursor: pointer;
    }
  }

  .nav-button-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    overflow: scroll;

    .button-container {
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.layout-buttons {
        margin-left: 0;
      }

      &.start-build-button {
        margin-right: 0;
      }
    }
  }

  .event-info-container {
    display: flex;
    height: 4.5rem;
    margin: 15px 0;
    overflow: scroll;

    .info-col {
      max-height: 4rem;
      padding-left: 10px;
      padding-right: 10px;
      border-right: 1px solid $grey-500;

      a {
        line-height: inherit;
      }

      &:last-child {
        border: none;
      }

      &.info-col-commit {
        min-width: 7rem;
      }

      &.info-col-message {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-width: 10rem;

        .commit-message {
          overflow: scroll;
        }
      }

      &.info-col-branch {
        display: flex;
        flex-direction: column;
        width: 9rem;

        .branch-name {
          height: 100%;
          overflow: scroll;
          word-break: break-all;
        }
      }

      &.info-col-status {
        min-width: 8.5rem;
      }

      &.info-col-build-date {
        min-width: 9rem;
      }

      &.info-col-label {
        display: flex;
        flex-direction: column;
        min-width: 7rem;

        .customize-label {
          height: 100%;
          overflow: scroll;
          word-break: break-all;
        }
      }
    }
  }
}
