& {
  padding: 15px 0 15px 10px;

  strong {
    font-size: 16px;
  }

  strong,
  a {
    vertical-align: middle;
    line-height: 33px;
  }

  .btn.event__stop {
    float: right;
    border: 1px solid $sd-aborted;
    background-color: #fff;
    color: $sd-aborted;
    width: 100px;
    font-size: 14px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: $weight-normal;

    &:hover,
    &.active:hover {
      border-color: #ccc;
      color: $grey-800;
    }
  }

  .btn {
    border-radius: 3px;
    padding: 5px 10px;
    color: $brand-600;
    background-color: $sd-white;
    border-color: $brand-600;
    font-weight: $weight-normal;

    &:hover,
    &:focus,
    &.active,
    &.active:hover,
    &.active:focus {
      outline: none;
      box-shadow: none;
      color: $brand-600;
      background-color: $button-background;
      border-color: $brand-600;
    }

    &:hover,
    &.active:hover {
      color: $brand-700;
    }
  }

  .event-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0;
  }

  .title {
    text-transform: uppercase;
    color: $grey-600;
    font-size: 12px;
  }

  .x-toggle-component {
    label.on-label {
      padding-left: 1.5rem;
    }

    .x-toggle-btn {
      cursor: pointer;
    }
  }

  .col {
    flex: 1 0 calc(100% / 8);
    padding-left: 10px;
    border-right: 1px solid $grey-500;

    &:nth-child(2) {
      flex-basis: calc(100% / 8 * 2);
    }

    &:last-child {
      border: none;
    }

    a {
      line-height: inherit;
    }
  }
}
