@use 'screwdriver-colors' as colors;

@mixin styles {
  .ember-basic-dropdown {
    .parameter-selector {
      &.ember-power-select-trigger[aria-disabled='true'] {
        background: rgba(colors.$sd-disabled, 0.25);
        color: colors.$sd-text;
      }

      .ember-power-select-selected-item {
        display: block;
        overflow: auto;
        text-overflow: ellipsis;
      }
    }

    .ember-basic-dropdown-content-wormhole-origin {
      .ember-power-select-dropdown {
        position: relative;

        .ember-power-select-options {
          li {
            overflow: auto;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
