& {
  margin: 10px 10px 0;
}

h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 0.8em;
}

dl {
  font-size: 0.8em;
}

dt {
  color: #666;
  font-weight: bold;
  margin-top: 10px;
}

dd {
  margin: 0;
  -webkit-margin-start: 0;
}
