@font-face {
  font-family: 'screwdriver';
  src: url('/assets/screwdriver.eot?anwrf#iefix') format('embedded-opentype'),
  url('/assets/screwdriver.ttf?anwrf') format('truetype'),
  url('/assets/screwdriver.woff?anwrf') format('woff'),
  url('/assets/screwdriver.svg?anwrf#screwdriver') format('svg');
  font-style: normal;
}

@keyframes spin {
  from {transform: rotate(0deg);}

  to {transform: rotate(360deg);}
}

g {
  transform-origin: 50% 50%;

  // Disabled as it is broken in Firefox
  // &.build-running {
  //   animation: spin 2s infinite linear;
  // }
}

.graph-node {
  font-family: 'screwdriver';
  fill: $sd-text-light;
  stroke-width: 0;
  cursor: pointer;

  &.build-success,
  &.build-started_from { // sass-lint:disable-line class-name-format
    fill: $sd-success;

    &:hover {
      fill: darken($sd-success, 10%);
    }
  }

  &.build-failure,
  &.build-aborted {
    fill: $sd-failure;

    &:hover {
      fill: darken($sd-failure, 10%);
    }
  }

  &.build-running,
  &.build-queued {
    fill: $sd-queued;

    &:hover {
      fill: darken($sd-queued, 10%);
    }
  }
}

.graph-edge {
  stroke: $sd-text-light;
  fill: transparent;

  &.build-success,
  &.build-started_from { // sass-lint:disable-line class-name-format
    stroke: $sd-success;
  }
}
