@font-face {
  font-family: 'screwdriver';
  src: url('/assets/screwdriver.eot?anwrf#iefix') format('embedded-opentype'),
    url('/assets/screwdriver.ttf?anwrf') format('truetype'),
    url('/assets/screwdriver.woff?anwrf') format('woff'),
    url('/assets/screwdriver.svg?anwrf#screwdriver') format('svg');
  font-style: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

& {
  position: relative;
  height: 100%;
}

svg {
  min-width: 100%;
  min-height: 100%;
}

g {
  transform-origin: 50% 50%;

  // Disabled as it is broken in Firefox
  // &.build-running {
  //   animation: spin 2s infinite linear;
  // }
}

.selected-job {
  fill: $sd-failure;
}

.graph-node {
  font-family: 'screwdriver';
  fill: $sd-text-light;
  stroke-width: 0;
  cursor: pointer;

  &.build-success,
  &.build-started_from {
    // sass-lint:disable-line class-name-format
    fill: $sd-success;

    &:hover {
      fill: darken($sd-success, 10%);
    }
  }

  &.build-failure,
  &.build-aborted {
    fill: $sd-failure;

    &:hover {
      fill: darken($sd-failure, 10%);
    }
  }

  &.build-unstable {
    fill: $sd-unstable;

    &:hover {
      fill: darken($sd-unstable, 10%);
    }
  }

  &.build-warning {
    fill: $sd-unstable;

    &:hover {
      fill: darken($sd-unstable, 10%);
    }
  }

  &.build-running,
  &.build-queued,
  &.build-blocked,
  // TODO: Replace skipped property if necessary.
  &.build-skipped {
    fill: $sd-queued;

    &:hover {
      fill: darken($sd-queued, 10%);
    }
  }
}

.graph-edge {
  stroke: $sd-text-light;
  fill: transparent;

  &.build-success,
  &.build-started_from {
    // sass-lint:disable-line class-name-format
    stroke: $sd-success;
  }
}

.stage-container {
  &.build-success {
    stroke: $sd-success;
  }

  &.build-failure,
  &.build-aborted {
    stroke: $sd-failure;
  }

  &.build-unstable {
    stroke: $sd-unstable;
  }

  &.build-warning {
    stroke: $sd-unstable;
  }

  &.build-running,
  &.build-queued,
  &.build-blocked,
  &.build-skipped {
    stroke: $sd-queued;
  }
}

.stage-info {
  padding: 10px;

  .stage-title {
    display: flex;
    flex-overflow: wrap;

    .stage-name {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .stage-actions {
      margin-left: auto;

      .stage-menu-handle {
        font-weight: bold;
        font-size: 20px;
        height: 20px;
        line-height: 10px;
        cursor: pointer;
      }
    }
  }

  .stage-description {
    color: $sd-text-med;
    margin-top: 5px;
  }
}
