<div class={{this.styleNamespace}} ...attributes>
  <h4>Versions:</h4>
  <ul>
    {{#each this.commands.commandData as |c|}}
      <li>
        {{#link-to "commands.detail" c.namespace c.name c.version}}<span class="version">{{c.version}}{{#if c.tag}} - {{c.tag}}{{/if}}</span>{{/link-to}}{{#if c.lastUpdated}} {{c.lastUpdated}}{{/if}}
      </li>
    {{/each}}
  </ul>
</div>