<h4>
  Versions:
</h4>
<ul>
  {{#each commands as |c|}}
    <li>
      <span class="version" {{action changeVersion c.version on="click"}}>
        {{c.version}}
        {{#if c.tag}}
          -{{c.tag}}
        {{/if}}
      </span>
      {{#if c.lastUpdated}}
        {{c.lastUpdated}}
      {{/if}}
    </li>
  {{/each}}
</ul>
