& {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;

  .left {
    display: inline-block;
    position: relative;
    vertical-align: top;

    width: 26.38%;
    margin-top: 28px;
    margin-left: 30px;
    color: #3697f2;

    .back {
      width: 80px;
      font-size: 16px;

      .img {
        vertical-align: top;
        fill: #3697f2;
        height: 20px;
        width: 20px;
      }

      &:hover {
        border: 2px solid #3697f2;
        cursor: pointer;
      }
    }
  }

  .center {
    display: inline-block;
    width: 680px;

    &.menu-open {
      margin-left: -220px;
    }
  }
}
