<div class="pure-g">
  <div class="pure-u-lg-1-2">
    {{validator-input yaml=(mut yaml)}}
  </div>
  <div class="pure-u-lg-1-2">
    {{validator-results results=results isTemplate=isTemplate}}
  </div>
</div>
{{outlet}}