<div class="row">
  <div class="col-xs-12 col-md-6">
    {{validator-input yaml=(mut yaml)}}
  </div>
  <div class="col-xs-12 col-md-6">
    {{validator-results results=results isTemplate=isTemplate}}
  </div>
</div>
{{outlet}}