& {
  margin: 10px auto;
  width: 593px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 47.999em) {
  & {
    width: 100%;
  }
}

a {
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #0078ff;
  border-radius: 3px;
  border-width: 0;
  text-decoration: none;
}
