<h2>Login with GitHub</h2>
<p>
  Screwdriver uses GitHub for authentication.
  Giving Screwdriver access to your git repos will allow us to automatically add webhooks to repos
  with which a pipeline is associated.
</p>
<p>
  Clicking this button will open a new window.
</p>
<a href="#authenticate"{{action "authenticate"}}>{{fa-icon "fa-github"}} Login with GitHub</a>

{{yield}}
