@use 'screwdriver-colors' as colors;
@use 'screwdriver-button' as button;
@use 'variables';

@mixin styles {
  #pipeline-header {
    display: flex;
    flex-direction: column;
    background-color: colors.$sd-flyout-bg;
    padding: 1rem;

    .header-main {
      display: flex;
      align-items: center;

      a {
        color: colors.$sd-black;
      }

      .header-item {
        padding-right: 0.5rem;

        &.pipeline-name {
          font-size: 24px;
          font-weight: variables.$weight-bold;
        }

        .sonarqube {
          height: 1rem;
          width: 1rem;
        }

        &.dropdown {
          max-width: 20rem;

          .dropdown-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
              margin: 0 0.25rem;
            }

            .branch {
              overflow: auto;
            }
          }

          .dropdown-menu {
            display: flex;
            flex-direction: column;
            overflow: auto;
            max-width: 40rem;
            max-height: calc(100vh - 120px);

            svg {
              width: 10px;
              height: 10px;
            }

            a {
              padding: 0.25rem 0.75rem;

              &:hover {
                background-color: colors.$sd-highlight;
              }
            }

            span {
              margin: auto;
            }
          }
        }
      }

      @include button.styles;

      #add-to-collection {
        margin-left: auto;
      }

      #switch-ui {
        margin-left: 1rem;
      }
    }

    .pipeline-description {
      margin-top: 0.25rem;
      height: 2.25rem;
      overflow: auto;
    }
  }
}
