& {
  margin: 10px 15px;
  color: $sd-text;

  .x-toggle-component {
    display: inline-flex;
  }

  .x-toggle:checked + label > .x-toggle-default.x-toggle-btn {
    background-color: $sd-success;
  }

  .float-right {
    float: right;
  }

  section {
    border-radius: 5px 5px 0 0;
    border: 1px solid $sd-separator;
    margin-bottom: 20px;
  }

  h3 {
    border-radius: 5px 5px 0 0;
    background-color: $sd-separator;
    margin: 0;
    color: $sd-text;
    padding: 3px 10px;
    font-weight: $weight-bold;
    font-size: 16px;
  }

  h4 {
    font-weight: $weight-bold;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 10px;
  }

  li {
    font-size: 14px;
    padding: 5px 10px;
    border-bottom: 1px solid $sd-separator;

    &:last-child {
      border-width: 0;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
  }

  & .jobs {
    a {
      color: $sd-primary;
      border: 1px solid $sd-primary;
    }

    a:hover {
      background-color: $sd-primary;
      color: $sd-white;
    }

    .job-label {
      background: $sd-light-gray;
      border-radius: 3px;
      border: none;
      font-size: 14px;
      font-weight: $weight-normal;
      padding: 2px 7px;
    }
  }

  .toggle-expand {
    color: $sd-link;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .toggle-wrapper {
    width: 100px;
    height: 100%;
    margin-left: auto;
    text-align: center;
  }

  .x-toggle-component {
    height: 100%;
    align-items: center;
  }

  .sync {
    a {
      color: $sd-success;
    }

    a:hover {
      border: 1px solid $sd-success;
    }
  }

  .cache {
    a {
      color: $sd-link;
    }

    a:hover {
      border: 1px solid $sd-link;
    }
  }

  .danger {
    h3 {
      background-color: $sd-failure;
      color: $sd-white;
    }

    a.trash {
      color: $sd-failure;

      &:hover {
        border: 1px solid $sd-failure;
      }
    }

    a.cancel {
      margin: 10px 20px 0 0;
      background-color: $sd-primary;
      color: $sd-white;

      &:hover {
        text-decoration: underline;
      }
    }

    a.remove {
      background-color: $sd-failure;
      color: $sd-white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .right {
    text-align: right;
  }

  input.pipeline-alias-name {
    margin: 5px;
  }

  .pipeline {
    .ember-basic-dropdown-trigger {
      margin: 5px;
    }

    .ember-power-select-multiple-option {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 5px;
      padding-left: 3px;
    }
  }

  .admins-list {
    font-weight: bold;
    margin-top: 10px;
    a {
      color: $sd-link;
      display: inline;
    }
  }

  .no-admin-message {
    font-weight: bold;
    color: $sd-failure;
    margin-top: 10px;
  }

  .inline-link {
    display: inline;
  }
}

.text-input {
  box-sizing: border-box;
  margin-top: 10px;
  outline: 0;
  height: 45px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid $sd-separator;
  font-size: 16px;
  padding-left: 10px;
  color: $sd-text;

  &:focus {
    border-color: $sd-running;
  }

  &::-webkit-input-placeholder {
    color: $sd-text-med;
  }

  &:-moz-placeholder {
    color: $sd-text-med;
  }

  &::-moz-placeholder {
    color: $sd-text-med;
  }

  &:-ms-input-placeholder {
    color: $sd-text-med;
  }

  &.bad-text-input {
    border-color: $sd-failure;
  }

  &.good-text-input {
    border-color: $sd-success;
  }

  &.root-dir {
    width: calc(100% - 15px);
  }
}

.blue-button {
  @include transition(all, 50ms);
  border: none;
  border-radius: 3px;
  height: 45px;
  padding: 0 30px;
  color: $sd-white;
  font-size: 16px;
  margin-top: 10px;
  background: $sd-running;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $sd-link;
  }

  &:disabled {
    background: $sd-text-med;
  }

  .saving-loading {
    display: none;
  }

  &.saving {
    .saving-loading {
      display: block;
    }

    .button-label {
      display: none;
    }
  }

  &:active {
    &:not(:disabled) {
      @include scale(0.97);
    }
  }
}

.blue-button-alias {
  @include transition(all, 50ms);
  border: none;
  border-radius: 3px;
  height: 30px;
  padding: 0 10px;
  color: $sd-white;
  font-size: 14px;
  background: $sd-running;
}

.reset-button {
  cursor: pointer;
  border: 1px solid $sd-running;
  border-radius: 3px;
  font-size: 14px;
  height: 30px;
  padding: 0 10px;
  color: $sd-running;
  background: transparent;

  &:hover {
    color: $sd-link;
    @include scale(1);
  }
}
