& {
  margin: 10px 15px;
  color: $sd-text;
  font-weight: 300;

  .x-toggle-component {
    display: inline-flex;
  }

  section {
    border-radius: 5px 5px 0 0;
    border: 1px solid $sd-separator;
    margin-bottom: 20px;
  }

  h3 {
    border-radius: 5px 5px 0 0;
    background-color: $sd-separator;
    margin: 0;
    color: $sd-text;
    padding: 3px 10px;
    font-weight: 600;
    font-size: 16px;
  }

  h4 {
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 14px;
    padding: 5px 10px;
    border-bottom: 1px solid $sd-separator;

    &:last-child {
      border-width: 0;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
  }

  & .jobs {
    a {
      color: $sd-primary;
      border: 1px solid $sd-primary;
    }

    a:hover {
      background-color: $sd-primary;
      color: #fff;
    }
  }

  .sync {
    a {
      color: $sd-success;
    }

    a:hover {
      border: 1px solid $sd-success;
    }
  }

  .danger {
    h3 {
      background-color: $sd-failure;
      color: #fff;
    }

    a.trash {
      color: $sd-failure;

      &:hover {
        border: 1px solid $sd-failure;
      }
    }

    a.cancel {
      margin: 10px 20px 0 0;
      background-color: $sd-primary;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }

    a.remove {
      background-color: $sd-failure;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .right {
    text-align: right;
  }
}

.text-input {
  box-sizing: border-box;
  margin-top: 10px;
  outline: 0;
  height: 45px;
  width: 90%;
  border-radius: 2px;
  border: 2px solid $sd-separator;
  font-size: 16px;
  padding-left: 10px;
  color: $sd-text;

  &:focus {
    border-color: $sd-running;
  }

  &::-webkit-input-placeholder {
    color: $sd-text-med;
  }

  &:-moz-placeholder {
    color: $sd-text-med;
  }

  &::-moz-placeholder {
    color: $sd-text-med;
  }

  &:-ms-input-placeholder {
    color: $sd-text-med;
  }

  &.bad-text-input {
    border-color: $sd-failure;
  }

  &.good-text-input {
    border-color: $sd-success;
  }
}

.blue-button {
  border: none;
  border-radius: 3px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  background: $sd-running;
  @include transition(all, 50ms);

  &:focus {
    outline: none;
  }

  &:hover {
    background: $sd-link;
  }

  &:disabled {
    background: $sd-text-med;
  }

  .saving-loading {
    display: none;
  }

  &.saving {
    .saving-loading {
      display: block;
    }

    .button-label {
      display: none;
    }
  }

  &:active {
    &:not(:disabled) {
      @include scale(0.97);
    }
  }
}
