<div id="pipeline-settings-tab">
  <LinkTo @route="v2.pipeline.settings.index">
    Pipeline
  </LinkTo>
  <LinkTo @route="v2.pipeline.settings.jobs">
    Jobs
  </LinkTo>
  <LinkTo @route="v2.pipeline.settings.cache">
    Cache
  </LinkTo>
  <LinkTo @route="v2.pipeline.settings.metrics">
    Metrics
  </LinkTo>
  <LinkTo @route="v2.pipeline.settings.preferences">
    Preferences
  </LinkTo>
</div>
