<div>
  <BsButton @type="primary" @icon="glyphicon glyphicon-download" @onClick={{action "download"}}>Download
  </BsButton>
  <iframe
    id={{this.iframeId}}
    src={{this.iframeUrl}}
    width="100%"
    height="625px">
    <h4>Alternative content for browsers which do not support iframe.</h4>
  </iframe>
</div>