& {
  margin: 0 auto;
  font-weight: 300;
}

.top {
  text-align: center;
  background: url('/assets/main_bkgrd_home_bottom.png') transparent no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: 20px 0;
  height: 120px;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 5px 0;
    padding: 0;
  }

  img {
    width: 50px;
  }
}

.start {
  padding: 0 25px;

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    span {
      line-height: 1.75;
      vertical-align: top;
    }
  }

  .num {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid $sd-success;
    text-align: center;
    vertical-align: top;
    line-height: 1.75;

    span {
      line-height: 1.4;
    }
  }

  .ember-basic-dropdown-trigger {
    display: inline-block;
    width: 100px;
  }
}

@media screen and (min-width: 35.5em) {
  .start div {
    width: 50%;
    margin: auto;
  }
}
