<div class="branch-cell">
  <a
    href={{@record.scmRepo.url}}
    target="_blank"
  >
    <FaIcon @icon="code-branch" />
    <div class="branch-name">
      {{@record.branchName}}
    </div>
  </a>
</div>
