@use 'screwdriver-colors' as colors;
@use 'variables';

@font-face {
  font-family: 'screwdriver';
  src: url('/assets/screwdriver.eot?anwrf#iefix') format('embedded-opentype'),
    url('/assets/screwdriver.ttf?anwrf') format('truetype'),
    url('/assets/screwdriver.woff?anwrf') format('woff'),
    url('/assets/screwdriver.svg?anwrf#screwdriver') format('svg');
  font-style: normal;
}

@mixin styles {
  #workflow-graph {
    .graph-node {
      font-family: 'screwdriver';
      fill: colors.$sd-text-light;
      cursor: pointer;

      &.build-success,
      &.build-started_from {
        fill: colors.$sd-success;

        &:hover {
          fill: darken(colors.$sd-success, 10%);
        }
      }

      &.build-failure,
      &.build-aborted {
        fill: colors.$sd-failure;

        &:hover {
          fill: darken(colors.$sd-failure, 10%);
        }
      }

      &.build-unstable,
      &.build-warning {
        fill: colors.$sd-unstable;

        &:hover {
          fill: darken(colors.$sd-unstable, 10%);
        }
      }

      &.build-running,
      &.build-created,
      &.build-queued,
      &.build-blocked,
      &.build-skipped {
        fill: colors.$sd-queued;

        &:hover {
          fill: darken(colors.$sd-queued, 10%);
        }
      }
    }
    .graph-edge {
      stroke: colors.$sd-text-light;
      fill: transparent;

      &.build-success,
      &.build-started_from {
        stroke: colors.$sd-success;
      }

      &.build-warning {
        stroke: colors.$sd-warning;
      }
    }

    .stage-container {
      &.build-success {
        stroke: colors.$sd-success;
      }

      &.build-failure,
      &.build-aborted {
        stroke: colors.$sd-failure;
      }

      &.build-unstable {
        stroke: colors.$sd-unstable;
      }

      &.build-warning {
        stroke: colors.$sd-unstable;
      }

      &.build-running,
      &.build-queued,
      &.build-blocked,
      &.build-skipped {
        stroke: colors.$sd-queued;
      }
    }

    .stage-info {
      padding: 10px;

      .stage-title {
        display: flex;
        justify-content: space-between;

        .stage-name {
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .stage-actions {
          .stage-menu-handle {
            font-size: 1.5rem;
            font-weight: variables.$weight-bold;
            cursor: pointer;
            height: 1.5rem;
            line-height: 0.75rem;
          }
        }
      }

      .stage-description {
        color: colors.$sd-text-med;
        margin-top: 5px;
      }
    }
  }
}
