@use 'screwdriver-colors' as colors;
@use 'ember-models-table';

@use 'cell/actions/styles' as actions;
@use 'cell/history/styles' as history;
@use 'cell/job/styles' as job;
@use 'cell/metrics/styles' as metrics;
@use 'cell/status/styles' as status;

@mixin styles {
  #pipeline-jobs {
    @include ember-models-table.styles;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    height: 100%;

    $table-footer-height: 2.5rem;

    .table-main {
      max-height: calc(100% - $table-footer-height);
      margin-top: 0;
      overflow: scroll;

      table {
        table-layout: fixed;
        $column-width: 10rem;
        $start-column-width: 15rem;
        min-width: calc(7 * $column-width + $start-column-width);
        width: 100%;

        .start-time-column {
          width: $start-column-width;
        }

        .status-column,
        .duration-column,
        .coverage-column,
        .stage-column,
        .metrics-column,
        .actions-column {
          width: $column-width;
        }

        thead {
          position: sticky;
          top: 0;
          background: colors.$sd-white;
          z-index: 1;

          th {
            border: none;
          }
        }

        tbody {
          @include actions.styles;
          @include history.styles;
          @include job.styles;
          @include metrics.styles;
          @include status.styles;

          svg {
            &.SUCCESS {
              color: colors.$sd-success;
            }

            &.WARNING,
            &.UNSTABLE {
              color: colors.$sd-unstable;
            }

            &.FAILURE,
            &.ABORTED {
              color: colors.$sd-failure;
            }

            &.RUNNING,
            &.QUEUED,
            &.BLOCKED,
            &.CREATED,
            &.SKIPPED {
              color: colors.$sd-running;
            }

            &.COLLAPSED,
            &.FROZEN {
              color: colors.$sd-text-light;
            }
          }
        }
      }
    }

    .table-footer {
      height: $table-footer-height;
    }
  }
}
