@use 'screwdriver-colors' as colors;

@mixin styles {
  .pipeline-content {
    display: grid;
    height: 100%;

    grid-template-columns: 50px;
    grid-template-rows: auto;

    grid-template-areas: 'pipeline-nav pipeline-main';

    .pipeline-main-content {
      grid-area: pipeline-main;

      display: grid;

      grid-template-areas:
        'pipeline-header  pipeline-header'
        'pipeline-tab     pipeline-tab'
        'pipeline-content pipeline-workflowgraph';

      grid-template-rows: 80px 52px 1fr;
      grid-template-columns: 2fr 8fr;

      .pipeline-header {
        grid-area: pipeline-header;
      }

      .pipeline-tab {
        grid-area: pipeline-tab;

        display: grid;
        padding-top: 8px;
        padding-bottom: 1px;

        ul.nav-tabs.nav {
          border: none;

          li {
            border-bottom: 3px solid colors.$sd-white;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;

            &.active {
              border-bottom-color: #1c64f2;
            }

            a {
              &.active {
                color: #1c64f2;
              }

              color: #6b7280;
              border: none;
              padding: 8px 16px 9px 16px;
            }
          }
        }
      }

      .pipeline-content {
        grid-area: pipeline-content;
      }
    }
  }
}
