@use 'events/styles' as events;
@use 'jobs/styles' as jobs;
@use 'settings/styles' as settings;

@mixin styles {
  #pipeline-page-contents {
    display: grid;
    height: 100%;

    $pipeline-nav-width: 4rem;

    grid-template-areas:
      'pipeline-nav pipeline-header'
      'pipeline-nav pipeline-main';
    grid-template-columns: $pipeline-nav-width calc(100% - $pipeline-nav-width);
    grid-template-rows: max-content 1fr;

    #pipeline-nav {
      grid-area: pipeline-nav;
    }

    #pipeline-header {
      grid-area: pipeline-header;
    }

    #pipeline-main {
      grid-area: pipeline-main;
      overflow: auto;

      &.events-pulls {
        @include events.styles;
      }

      &.jobs {
        @include jobs.styles;
      }

      &.settings {
        @include settings.styles;
      }
    }
  }
}
