@use 'events/styles' as events;

@mixin styles {
  .pipeline-page {
    display: grid;
    height: 100%;

    grid-template-columns: 4rem;
    grid-auto-rows: min-content auto;

    grid-template-areas:
      'pipeline-nav pipeline-header'
      'pipeline-nav pipeline-main';

    .pipeline-header {
      grid-area: pipeline-header;
    }

    .pipeline-main-content {
      grid-area: pipeline-main;
      overflow: scroll;

      &.grid {
        @include events.styles;
      }
    }
  }
}
