<Banner @banners={{this.model.banners}}/>

{{page-title this.model.pipeline.name}}

<div id="pipeline-page-contents">
  <Pipeline::Nav />
  <Pipeline::Header />
  <div
    id="pipeline-main"
    class="{{this.routeClasses}}"
  >
    {{outlet}}
  </div>
</div>
