& {
  text-align: right;
}

button {
  border: 1px solid $sd-link;
  background-color: $sd-white;
  color: $sd-link;
  width: 100px;
  font-size: 14px;
  border-radius: 2px;
  padding: 5px;
  font-weight: 300;
}

button:hover {
  border-color: $sd-primary;
  color: $sd-primary;
}
