& {
  text-align: right;
}

button {
  border: 1px solid $sd-link;
  background-color: $sd-white;
  color: $sd-link;
  width: 100px;
  font-size: 14px;
  border-radius: 2px;
  padding: 5px;
}

button:hover {
  border-color: $sd-primary;
  color: $sd-primary;
}

button.start-with-parameters-button {
  width: 25px;
  padding-right: 20px;
}

.start-with-parameters-menu {
  float: none;
  right: -25px;
  width: auto;
  left: auto;
  padding-top: 10px;
}

.dropdown-toggle::after {
  display: none;
}
