@use 'screwdriver-colors' as colors;

@mixin styles {
  #edit-token-modal {
    &.modal {
      .modal-dialog {
        .modal-body {
          .edit-token {
            display: flex;
            flex-direction: column;

            .powerselect-wrap {
              display: flex;
              margin-bottom: 0.5rem;

              > div:first-child {
                width: 6rem;
              }

              .current-token-value {
                width: auto;
                margin-right: 0.5rem;
                white-space: nowrap;
              }

              .ember-basic-dropdown {
                flex: 1;

                .ember-power-select-trigger {
                  width: 100%;
                }
              }
            }

            label {
              display: flex;
              align-items: center;

              div {
                width: 6rem;
              }

              input {
                flex: 1;

                &.invalid {
                  color: colors.$sd-warn-bg;
                  outline: 2px solid colors.$sd-warn-bg;
                  border-radius: 3px;
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
