& {
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .header {
    justify-content: space-between;
    display: flex;

    .danger {
      color: $sd-failure;
    }
    .danger:hover {
      text-decoration: none;
    }
  }

  .back {
    float: right;
  }

  .trusted {
    fill: #16c047;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }

  .clickable {
    cursor: pointer;
  }

  .trusted.distrusted {
    fill: $sd-text-med;
  }

  .command-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .link {
    color: #337ab7;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
