& {
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .back {
    float: right;
  }

  .trusted {
    fill: #16c047;
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
}
